<link href="/css/header.css" type="text/css" rel="stylesheet"/>
<link href="/plugins/font/font.css" type='text/css' rel="stylesheet">
<div class="sidebar">
    <h1><i class="fa fa-bars push"></i>Administrator <span class="color">Menu</span></h1>
    <ul>
        <li><a href="/welcomeAdmin"><i class="fa fa-dashboard push"></i>主页<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
        <li><a href="#"><i class="fa fa-user push"></i>管理<i class="fa fa-angle-right"></i></a><span class="hover"></span>
            <ul class="sub-menu">
                <li><a href="/manageCourse">课程管理<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
                <li><a href="/manageUser">用户管理<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
                <li><a href="/manageAdvising">辅导管理<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
                <li><a href="/manageTranscript">成绩单管理<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
            </ul>
        </li>
        <li><a href="/adminProfile"><i class="fa fa-id-card push"></i>个人信息<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
        <li><a href="/welcome"><i class="fa fa-cog push"></i>选择接入系统<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
        <li><a href="#" id="logout"><i class="fa fa-plane push"></i>登出<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
    </ul>
</div>
