<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.harambase.pioneer.dao.mybatis.mapper.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.harambase.pioneer.pojo.base.Course" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="crn" property="crn" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="credits" property="credits" jdbcType="INTEGER" />
    <result column="precrn" property="precrn" jdbcType="VARCHAR" />
    <result column="couLev" property="level" jdbcType="VARCHAR" />
    <result column="couSec" property="section" jdbcType="VARCHAR" />
    <result column="classroom" property="classroom" jdbcType="VARCHAR" />
    <result column="startDate" property="startDate" jdbcType="VARCHAR" />
    <result column="endDate" property="endDate" jdbcType="VARCHAR" />
    <result column="day" property="day" jdbcType="VARCHAR" />
    <result column="startTime" property="startTime" jdbcType="VARCHAR" />
    <result column="endTime" property="endTime" jdbcType="VARCHAR" />
    <result column="capacity" property="capacity" jdbcType="INTEGER" />
    <result column="ownerId" property="ownerId" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.harambase.pioneer.pojo.base.Course" extends="BaseResultMap" >
    <result column="comment" property="comment" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, crn, name, credits, precrn, couLev, couSec, classroom, startDate, endDate, day, 
    startTime, endTime, capacity, ownerId, info, createTime, updateTime
  </sql>
  <sql id="Blob_Column_List" >
    comment
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Course where crn = #{arg0,jdbcType=VARCHAR}
  </select>
  <select id="getStatus" resultType="java.lang.String" parameterType="java.lang.String" >
    select status from CourseView where crn = #{crn,jdbcType=VARCHAR}
  </select>
  <select id="countActiveCourse" resultType="java.lang.Integer" >
    select count(*) from CourseView where status = '1' or status = '0'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from Course where crn = #{crn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.harambase.pioneer.pojo.base.Course" >
    insert into Course (id, crn, name, 
      credits, precrn, couLev, 
      couSec, classroom, startDate, 
      endDate, day, startTime, 
      endTime, capacity, ownerId,
      info, createTime, updateTime,
      comment)
    values (#{id,jdbcType=INTEGER}, #{crn,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{credits,jdbcType=INTEGER}, #{precrn,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR},
      #{section,jdbcType=VARCHAR}, #{classroom,jdbcType=VARCHAR}, #{startDate,jdbcType=VARCHAR},
      #{endDate,jdbcType=VARCHAR}, #{day,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR},
      #{endTime,jdbcType=VARCHAR}, #{capacity,jdbcType=INTEGER}, #{ownerId,jdbcType=VARCHAR},
      #{info,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR},
      #{comment,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.harambase.pioneer.pojo.base.Course" >
    insert into Course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="crn != null" >
        crn,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="credits != null" >
        credits,
      </if>
      <if test="precrn != null" >
        precrn,
      </if>
      <if test="level != null" >
        couLev,
      </if>
      <if test="section != null" >
        couSec,
      </if>
      <if test="classroom != null" >
        classroom,
      </if>
      <if test="startDate != null" >
        startDate,
      </if>
      <if test="endDate != null" >
        endDate,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="startTime != null" >
        startTime,
      </if>
      <if test="endTime != null" >
        endTime,
      </if>
      <if test="capacity != null" >
        capacity,
      </if>
      <if test="ownerId != null" >
        ownerId,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="comment != null" >
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="crn != null" >
        #{crn,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="credits != null" >
        #{credits,jdbcType=INTEGER},
      </if>
      <if test="precrn != null" >
        #{precrn,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="section != null" >
        #{section,jdbcType=VARCHAR},
      </if>
      <if test="classroom != null" >
        #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        #{day,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="capacity != null" >
        #{capacity,jdbcType=INTEGER},
      </if>
      <if test="ownerId != null" >
        #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.harambase.pioneer.pojo.base.Course" >
    update Course
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="credits != null" >
        credits = #{credits,jdbcType=INTEGER},
      </if>
      <if test="precrn != null" >
        precrn = #{precrn,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        couLev = #{level,jdbcType=VARCHAR},
      </if>
      <if test="section != null" >
        couSec = #{section,jdbcType=VARCHAR},
      </if>
      <if test="classroom != null" >
        classroom = #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        startDate = #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        endDate = #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        startTime = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        endTime = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="capacity != null" >
        capacity = #{capacity,jdbcType=INTEGER},
      </if>
      <if test="ownerId != null" >
        ownerId = #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where crn = #{crn,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.harambase.pioneer.pojo.base.Course" >
    update Course
    set crn = #{crn,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      credits = #{credits,jdbcType=INTEGER},
      precrn = #{precrn,jdbcType=VARCHAR},
      couLev = #{level,jdbcType=VARCHAR},
      couSec = #{section,jdbcType=VARCHAR},
      classroom = #{classroom,jdbcType=VARCHAR},
      startDate = #{startDate,jdbcType=VARCHAR},
      endDate = #{endDate,jdbcType=VARCHAR},
      day = #{day,jdbcType=VARCHAR},
      startTime = #{startTime,jdbcType=VARCHAR},
      endTime = #{endTime,jdbcType=VARCHAR},
      capacity = #{capacity,jdbcType=INTEGER},
      ownerId = #{ownerId,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.harambase.pioneer.pojo.base.Course" >
    update Course
    set crn = #{crn,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      credits = #{credits,jdbcType=INTEGER},
      precrn = #{precrn,jdbcType=VARCHAR},
      couLev = #{level,jdbcType=VARCHAR},
      couSec = #{section,jdbcType=VARCHAR},
      classroom = #{classroom,jdbcType=VARCHAR},
      startDate = #{startDate,jdbcType=VARCHAR},
      endDate = #{endDate,jdbcType=VARCHAR},
      day = #{day,jdbcType=VARCHAR},
      startTime = #{startTime,jdbcType=VARCHAR},
      endTime = #{endTime,jdbcType=VARCHAR},
      capacity = #{capacity,jdbcType=INTEGER},
      ownerId = #{ownerId,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getCourseBySearch" parameterType="java.util.Map" resultType="com.harambase.pioneer.pojo.view.CourseView">
    select * from CourseView
    where 1 = 1
    <if test="status != null">
      and status =  #{status,jdbcType=VARCHAR}
    </if>
    <if test="search != null" >
      and ( crn like '%' #{search,jdbcType=VARCHAR} '%' or
           name like '%' #{search,jdbcType=VARCHAR} '%')
    </if>
  </select>
  <!--<select id="getCourseBySearch" parameterType="java.util.Map" resultType="com.harambase.pioneer.pojo.Coursedash;&gt;-->
    <!--select * from Course c <where> EXISTS (SELECT * FROM CourseView cv-->
    <!--WHERE c.crn = cv.crn-->
    <!--AND cv.status = #{status,jdbcType=VARCHAR})-->
    <!--<if test="search != null" >-->
      <!--and (crn like '%' #{search,jdbcType=VARCHAR} '%' or-->
      <!--name like '%' #{search,jdbcType=VARCHAR} '%')-->
    <!--</if></where>-->
    <!--limit 0,4-->
  <!--</select>-->
  <select id="getAllCourses" resultType="com.harambase.pioneer.pojo.view.CourseView">
    select * from CourseView
  </select>
  <select id="getAllActiveCourses" resultType="com.harambase.pioneer.pojo.view.CourseView">
    select * from CourseView where status = '0' UNION select * from CourseView where status = '1'
  </select>
  <select id="getAllCoursesWithInfo" parameterType="java.lang.String" resultType="com.harambase.pioneer.pojo.base.Course">
    select * from Course where info = #{arg0,jdbcType=VARCHAR}
  </select>
  <select id="getRemain" parameterType="java.lang.String" resultType="java.lang.Integer">
    select remain from CourseView where crn = #{crn,jdbcType=VARCHAR}
  </select>
  <select id="getCourseCountByMapPageSearchOrdered" parameterType="java.util.Map" resultType="java.lang.Long">
    select count(*) as count from CourseView <where> 1 = 1
    <if test="ownerId!=null">
      and ownerId = #{ownerId,jdbcType=VARCHAR}
    </if>
    <if test="info!=null">
      and info = #{info,jdbcType=VARCHAR}
    </if>
    <if test="search != null">
      and (crn like '%' #{search,jdbcType=VARCHAR} '%' or
      name like  '%' #{search,jdbcType=VARCHAR} '%' or
      credits like  '%' #{search,jdbcType=VARCHAR} '%' or
      level like  '%' #{search,jdbcType=VARCHAR} '%' or
      section like  '%' #{search,jdbcType=VARCHAR} '%' or
      day like  '%' #{search,jdbcType=VARCHAR} '%' or
      time like  '%' #{search,jdbcType=VARCHAR} '%' or
      capacity like  '%' #{search,jdbcType=VARCHAR} '%' or
      remain like  '%' #{search,jdbcType=VARCHAR} '%' or
      status like  '%' #{search,jdbcType=VARCHAR} '%' or
      faculty like  '%' #{search,jdbcType=VARCHAR} '%' or
      date like  '%' #{search,jdbcType=VARCHAR} '%' or
      updateTime like  '%' #{search,jdbcType=VARCHAR} '%')
    </if>
  </where>
  </select>
  <select id="getCourseByMapPageSearchOrdered" parameterType="java.util.Map" resultType="com.harambase.pioneer.pojo.view.CourseView">
    select * from CourseView <where> 1 = 1
    <if test="ownerId!=null">
      and ownerId = #{ownerId,jdbcType=VARCHAR}
    </if>
    <if test="info!=null">
      and info = #{info,jdbcType=VARCHAR}
    </if>
    <if test="search != null" >
      and (crn like '%' #{search,jdbcType=VARCHAR} '%' or
      name like  '%' #{search,jdbcType=VARCHAR} '%' or
      credits like  '%' #{search,jdbcType=VARCHAR} '%' or
      level like  '%' #{search,jdbcType=VARCHAR} '%' or
      section like  '%' #{search,jdbcType=VARCHAR} '%' or
      day like  '%' #{search,jdbcType=VARCHAR} '%' or
      time like  '%' #{search,jdbcType=VARCHAR} '%' or
      capacity like  '%' #{search,jdbcType=VARCHAR} '%' or
      remain like  '%' #{search,jdbcType=VARCHAR} '%' or
      status like  '%' #{search,jdbcType=VARCHAR} '%' or
      faculty like  '%' #{search,jdbcType=VARCHAR} '%' or
      date like  '%' #{search,jdbcType=VARCHAR} '%' or
      updateTime like  '%' #{search,jdbcType=VARCHAR} '%')
    </if></where>
    order by ${orderColumn} ${order}
    limit #{currentIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  <select id="facultyCourse" parameterType="java.lang.String" resultType="com.harambase.pioneer.pojo.base.Course">
    select * from Course where ownerId = #{arg0,jdbcType=VARCHAR}
  </select>

</mapper>