<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.harambase.pioneer.dao.mybatis.mapper.PinMapper" >
  <resultMap id="BaseResultMap" type="com.harambase.pioneer.pojo.base.Pin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pin" property="pin" jdbcType="INTEGER" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="facultyId" property="facultyId" jdbcType="VARCHAR" />
    <result column="studentId" property="studentId" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="INTEGER" />
    <result column="startTime" property="startTime" jdbcType="VARCHAR" />
    <result column="endTime" property="endTime" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.harambase.pioneer.pojo.base.Pin" extends="BaseResultMap" >
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pin, info, facultyId, studentId, role, startTime, endTime, createTime
  </sql>
  <sql id="Blob_Column_List" >
    remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Pin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Pin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.harambase.pioneer.pojo.base.Pin" >
    insert into Pin (id, pin, info, 
      facultyId, studentId, role,
      startTime, endTime, createTime, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{pin,jdbcType=INTEGER}, #{info,jdbcType=VARCHAR}, 
      #{facultyId,jdbcType=VARCHAR}, #{studentId,jdbcType=VARCHAR}, #{role,jdbcType=INTEGER},
      #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR},
      #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.harambase.pioneer.pojo.base.Pin" >
    insert into Pin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pin != null" >
        pin,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="facultyId != null" >
        facultyId,
      </if>
      <if test="studentId != null" >
        studentId,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="startTime != null" >
        startTime,
      </if>
      <if test="endTime != null" >
        endTime,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pin != null" >
        #{pin,jdbcType=INTEGER},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="facultyId != null" >
        #{facultyId,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.harambase.pioneer.pojo.base.Pin" >
    update Pin
    <set >
      <if test="pin != null" >
        pin = #{pin,jdbcType=INTEGER},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="facultyId != null" >
        facultyId = #{facultyId,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        studentId = #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        startTime = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        endTime = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.harambase.pioneer.pojo.base.Pin" >
    update Pin
    set pin = #{pin,jdbcType=INTEGER},
      info = #{info,jdbcType=VARCHAR},
      facultyId = #{facultyId,jdbcType=VARCHAR},
      studentId = #{studentId,jdbcType=VARCHAR},
      role = #{role,jdbcType=INTEGER},
      startTime = #{startTime,jdbcType=VARCHAR},
      endTime = #{endTime,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.harambase.pioneer.pojo.base.Pin" >
    update Pin
    set pin = #{pin,jdbcType=INTEGER},
      info = #{info,jdbcType=VARCHAR},
      facultyId = #{facultyId,jdbcType=VARCHAR},
      studentId = #{studentId,jdbcType=VARCHAR},
      role = #{role,jdbcType=INTEGER},
      startTime = #{startTime,jdbcType=VARCHAR},
      endTime = #{endTime,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="countByInfo" parameterType="java.util.Map" resultType="java.lang.Object">
    select count(*) from Pin where role = #{role, jdbcType=INTEGER} group by info
  </select>
  <select id="listByInfo" parameterType="java.util.Map" resultType="java.util.List">
    select * from Pin where info like '%' #{info,jdbcType=VARCHAR}  '%'
  </select>
  <select id="countByPin" parameterType="java.util.Map" resultType="java.lang.Integer">
    select * from Pin where pin = #{pin,jdbcType=INTEGER}
  </select>
  <select id="selectByPin" parameterType="java.lang.Integer" resultType="com.harambase.pioneer.pojo.base.Pin">
    select * from Pin where pin = #{arg0,jdbcType=INTEGER}
  </select>
</mapper>