<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>个人账户管管理</title>
    <link href="/plugins/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/plugins/confirm/confirm.css" rel="stylesheet">
    <link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="/plugins/font/font.css" rel="stylesheet">
    <link href="/plugins/datatables/datatables.min.css" rel="stylesheet">
    <link href="/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" >
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
    <link href="/styles/signin.css" rel="stylesheet" type="text/css">
    <link href="/styles/title.css" rel="stylesheet" type="text/css">
    <link href="/styles/manage.css" rel="stylesheet" type="text/css">

    <link href="/styles/header.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="sidebar">
    <h1><i class="fa fa-bars push"></i>Administrator <span class="color">Menu</span></h1>
    <ul>
        <li>
            <a href="/welcomeAdmin">
                <i class="fa fa-dashboard push"></i>主页<i class="fa fa-angle-right"></i>
            </a>
            <span class="hover"></span>
        </li>
        <li><a id="logout"><i class="fa fa-plane push"></i>登出<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
    </ul>
</div>

<div class="site-branding-text">
    <h1 class="site-title">User Manage Site</h1>
    <p class="site-description">Profile Settings</p>
    <hr/>
</div>

<div id="addUser" class="spilt register-table">
    <div style="float: left; height: 700px" class="account-container register">
        <div class="content clearfix">
            <form id="createUserForm" method="post" onsubmit="return false">
                <h1>账号信息</h1>
                <div class="login-fields">

                    <div class="field">
                        <label for="year-semester">Year-semester:</label>
                        <input id="year-semester" name="year-semester" value="" placeholder="*年份-学期(YYYY-XX)" class="login"
                               minlength="7" maxlength="7" disabled/>
                    </div> <!-- /field -->

                    <div class="field">
                        <label for="firstname">First Name:</label>
                        <input id="firstname" name="firstname" value="" placeholder="*名" class="login"
                               minlength="1" maxlength="20" required/>
                    </div> <!-- /field -->

                    <div class="field">
                        <label for="lastname">Last Name:</label>
                        <input id="lastname" name="lastname" value="" placeholder="*姓" class="login"
                               minlength="1" maxlength="20" required/>
                    </div> <!-- /field -->

                    <div class="field">
                        <label for="birthday">Birthday:</label>
                        <input id="birthday" name="birthday" value="" placeholder="*生日(YYYY-MM-DD)" class="login"
                               maxlength="10"/>
                    </div> <!-- /field -->

                    <div class="field">
                        <label for="email">Email Address:</label>
                        <input id="email" name="email" value="" placeholder="Email" class="login"/>
                    </div> <!-- /field -->

                    <div class="field">
                        <label for="qq">QQ:</label>
                        <input id="qq" name="QQ" value="" placeholder="QQ" class="login"/>
                    </div> <!-- /field -->

                    <div class="field">
                        <label for="weChat">weChat:</label>
                        <input id="weChat" name="weChat" value="" placeholder="weChat" class="login"/>
                    </div> <!-- /field -->

                    <div class="field">
                        <label for="tel">tel:</label>
                        <input id="tel" name="tel" value="" placeholder="电话号" class="login"/>
                    </div> <!-- /field -->

                    <div class="field">
                        <label for="dorm">dorm:</label>
                        <input id="dorm" name="dorm" value="" placeholder="宿舍号" class="login"/>
                    </div> <!-- /field -->
                </div> <!-- /login-fields -->

                <div class="login-actions" style="margin-top: 0px;">
                    <table style="margin: 0px 0px 15px 0px;">
                        <tr>
                            <td style="padding-right: 5px"><h4 style="float: left;margin-bottom: 4.5px;margin-top: 4.5px;">*选择用户性别:</h4></td>
                            <td style="padding-right: 5px"><input style="height: 14px;margin: 10px 4px 10px 0;width: 13px;" id='male' type="radio" name="gender" value="male"/>男</td>
                            <td style="padding-right: 5px"><input style="height: 14px;margin: 10px 4px 10px 0;width: 13px;" id='female' type="radio" name="gender" value="female"/>女</td>
                        </tr>
                    </table>

                    <table style="margin: -10px 0px 0px 0px;">
                        <tr>
                            <td style="padding-right: 5px"><h4 style="float: left;margin-bottom: 4.5px;margin-top: 4.5px;">*选择账户类型:</h4></td>
                            <td style="padding-right: 5px"><input style="height: 14px;margin: 10px 4px 10px 0;width: 13px;" id='student1' type="checkbox" name="type" value="s"/>学生</td>
                            <td style="padding-right: 5px"><input style="height: 14px;margin: 10px 4px 10px 0;width: 13px;" id='faculty1' type="checkbox" name="type" value="f"/>教师</td>
                            <td style="padding-right: 5px"><input style="height: 14px;margin: 10px 4px 10px 0;width: 13px;" id='admin1'   type="checkbox" name="type" value="a"/>系统管理员</td>
                        </tr>
                    </table>
                    <textarea id="comment" style="margin: 5px 0px 0px 0px; width: 300px; height: 100px; resize: none;" placeholder="请输入备注信息"></textarea>
                    <span class="login-checkbox">
                        <input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" required/>
                        <label class="choice" for="Field">确认上述信息正确无误.</label>
                    </span>
                    <button class="button btn btn-primary btn-large" id="registerBtn">更新</button>

                </div> <!-- .actions -->
            </form>
        </div> <!-- /content -->
    </div> <!-- /account-container -->
</div>


</body>
<script src="/plugins/jquery/jquery-1.12.3.min.js"></script>
<script src="/plugins/jquery/jquerySession.js"></script>
<script src="/plugins/datatables/datatables.all.min.js"></script>
<script src="/plugins/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="/plugins/confirm/confirm.js"></script>
<script src="/plugins/jquery-validate/jquery.validate.min.js"></script>
<script src="/plugins/jquery-validate/messages_zh.js"></script>
<script src="/scripts/logout.js"></script>
<script src="/scripts/common.js"></script>
<script src="/scripts/index.js"></script>
</html>
