<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.harambase.pioneer.dao.mybatis.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.harambase.pioneer.pojo.base.Student" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="studentId" property="studentId" jdbcType="VARCHAR" />
    <result column="max_credits" property="maxCredits" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, studentId, max_credits
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from Student where studentId = #{arg0,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.harambase.pioneer.pojo.base.Student" >
    insert into Student (id, studentId, max_credits
      )
    values (#{id,jdbcType=INTEGER}, #{studentId,jdbcType=VARCHAR}, #{maxCredits,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.harambase.pioneer.pojo.base.Student" >
    insert into Student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="studentId != null" >
        studentId,
      </if>
      <if test="maxCredits != null" >
        max_credits,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="maxCredits != null" >
        #{maxCredits,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.harambase.pioneer.pojo.base.Student" >
    update Student
    <set >
      <if test="studentId != null" >
        studentId = #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="maxCredits != null" >
        max_credits = #{maxCredits,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.harambase.pioneer.pojo.base.Student" >
    update Student set max_credits = #{maxCredits,jdbcType=INTEGER} where studentId = #{studentId,jdbcType=VARCHAR}
  </update>

  <select id="creditsDetail" resultType="com.harambase.pioneer.pojo.view.StudentView" parameterType="java.lang.String" >
    select * from StudentView where studentId = #{studentId,jdbcType=VARCHAR}
  </select>

  <select id="getStudentCountByMapPageSearchOrdered" parameterType="java.util.Map" resultType="java.lang.Long">
    select count(*) as count from StudentView <where> 1 = 1  and status = '1'
    <if test="search != null">
      and (studentId like '%' #{search,jdbcType=VARCHAR} '%' or
      lastName like '%' #{search,jdbcType=VARCHAR} '%' or
      firstName like  '%' #{search,jdbcType=VARCHAR} '%' or
      max_credits like  '%' #{search,jdbcType=VARCHAR} '%' or
      complete like  '%' #{search,jdbcType=VARCHAR} '%')
    </if>
  </where>
  </select>
  <select id="getStudentByMapPageSearchOrdered" parameterType="java.util.Map" resultType="com.harambase.pioneer.pojo.view.StudentView">
    select * from StudentView <where> 1 = 1 and status = #{status,jdbcType=VARCHAR}
    <if test="search != null" >
      and (studentId like '%' #{search,jdbcType=VARCHAR} '%' or
      lastName like '%' #{search,jdbcType=VARCHAR} '%' or
      firstName like  '%' #{search,jdbcType=VARCHAR} '%' or
      max_credits like  '%' #{search,jdbcType=VARCHAR} '%' or
      complete like  '%' #{search,jdbcType=VARCHAR} '%')
    </if></where>
    order by ${orderColumn} ${order}
    limit #{currentIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
</mapper>