<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.harambase.pioneer.dao.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.harambase.pioneer.pojo.Course" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="crn" property="crn" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="credits" property="credits" jdbcType="INTEGER" />
    <result column="precrn" property="precrn" jdbcType="INTEGER" />
    <result column="couLev" property="coulev" jdbcType="VARCHAR" />
    <result column="couSec" property="cousec" jdbcType="VARCHAR" />
    <result column="startDate" property="startdate" jdbcType="VARCHAR" />
    <result column="endDate" property="enddate" jdbcType="VARCHAR" />
    <result column="day" property="day" jdbcType="VARCHAR" />
    <result column="startTime" property="starttime" jdbcType="VARCHAR" />
    <result column="endTime" property="endtime" jdbcType="VARCHAR" />
    <result column="capa" property="capa" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="facultyid" property="facultyid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, crn, name, credits, precrn, couLev, couSec, startDate, endDate, day, startTime, 
    endTime, capa, status, facultyid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.harambase.pioneer.pojo.Course" >
    insert into Course (id, crn, name, 
      credits, precrn, couLev, 
      couSec, startDate, endDate, 
      day, startTime, endTime, 
      capa, status, facultyid
      )
    values (#{id,jdbcType=INTEGER}, #{crn,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{credits,jdbcType=INTEGER}, #{precrn,jdbcType=INTEGER}, #{coulev,jdbcType=VARCHAR}, 
      #{cousec,jdbcType=VARCHAR}, #{startdate,jdbcType=VARCHAR}, #{enddate,jdbcType=VARCHAR}, 
      #{day,jdbcType=VARCHAR}, #{starttime,jdbcType=VARCHAR}, #{endtime,jdbcType=VARCHAR}, 
      #{capa,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{facultyid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.harambase.pioneer.pojo.Course" >
    insert into Course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="crn != null" >
        crn,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="credits != null" >
        credits,
      </if>
      <if test="precrn != null" >
        precrn,
      </if>
      <if test="coulev != null" >
        couLev,
      </if>
      <if test="cousec != null" >
        couSec,
      </if>
      <if test="startdate != null" >
        startDate,
      </if>
      <if test="enddate != null" >
        endDate,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
      <if test="capa != null" >
        capa,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="facultyid != null" >
        facultyid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="crn != null" >
        #{crn,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="credits != null" >
        #{credits,jdbcType=INTEGER},
      </if>
      <if test="precrn != null" >
        #{precrn,jdbcType=INTEGER},
      </if>
      <if test="coulev != null" >
        #{coulev,jdbcType=VARCHAR},
      </if>
      <if test="cousec != null" >
        #{cousec,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null" >
        #{startdate,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        #{day,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="capa != null" >
        #{capa,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="facultyid != null" >
        #{facultyid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.harambase.pioneer.pojo.Course" >
    update Course
    <set >
      <if test="crn != null" >
        crn = #{crn,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="credits != null" >
        credits = #{credits,jdbcType=INTEGER},
      </if>
      <if test="precrn != null" >
        precrn = #{precrn,jdbcType=INTEGER},
      </if>
      <if test="coulev != null" >
        couLev = #{coulev,jdbcType=VARCHAR},
      </if>
      <if test="cousec != null" >
        couSec = #{cousec,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null" >
        startDate = #{startdate,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null" >
        endDate = #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        startTime = #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        endTime = #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="capa != null" >
        capa = #{capa,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="facultyid != null" >
        facultyid = #{facultyid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.harambase.pioneer.pojo.Course" >
    update Course
    set crn = #{crn,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      credits = #{credits,jdbcType=INTEGER},
      precrn = #{precrn,jdbcType=INTEGER},
      couLev = #{coulev,jdbcType=VARCHAR},
      couSec = #{cousec,jdbcType=VARCHAR},
      startDate = #{startdate,jdbcType=VARCHAR},
      endDate = #{enddate,jdbcType=VARCHAR},
      day = #{day,jdbcType=VARCHAR},
      startTime = #{starttime,jdbcType=VARCHAR},
      endTime = #{endtime,jdbcType=VARCHAR},
      capa = #{capa,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      facultyid = #{facultyid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>