<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.harambase.pioneer.dao.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.harambase.pioneer.pojo.Course" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="crn" property="crn" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="credits" property="credits" jdbcType="INTEGER" />
    <result column="precrn" property="precrn" jdbcType="VARCHAR" />
    <result column="couLev" property="coulev" jdbcType="VARCHAR" />
    <result column="couSec" property="cousec" jdbcType="VARCHAR" />
    <result column="startDate" property="startdate" jdbcType="VARCHAR" />
    <result column="endDate" property="enddate" jdbcType="VARCHAR" />
    <result column="day" property="day" jdbcType="VARCHAR" />
    <result column="startTime" property="starttime" jdbcType="VARCHAR" />
    <result column="endTime" property="endtime" jdbcType="VARCHAR" />
    <result column="capa" property="capa" jdbcType="INTEGER" />
    <result column="facultyid" property="facultyid" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, crn, name, credits, precrn, couLev, couSec, startDate, endDate, day, startTime, 
    endTime, capa, facultyid, info, createtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from Course where crn = #{crn,jdbcType=INTEGER}
  </select>
  <select id="countActiveCourse" resultType="java.lang.Integer" >
    select count(*) from CourseView where status = '1'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from Course where crn = #{crn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.harambase.pioneer.pojo.Course" >
    insert into Course (id, crn, name, 
      credits, precrn, couLev, 
      couSec, startDate, endDate, 
      day, startTime, endTime, 
      capa, facultyid,
      info, createtime, updatetime
      )
    values (#{id,jdbcType=INTEGER}, #{crn,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{credits,jdbcType=INTEGER}, #{precrn,jdbcType=VARCHAR}, #{coulev,jdbcType=VARCHAR},
      #{cousec,jdbcType=VARCHAR}, #{startdate,jdbcType=VARCHAR}, #{enddate,jdbcType=VARCHAR}, 
      #{day,jdbcType=VARCHAR}, #{starttime,jdbcType=VARCHAR}, #{endtime,jdbcType=VARCHAR}, 
      #{capa,jdbcType=INTEGER}, #{facultyid,jdbcType=VARCHAR},
      #{info,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.harambase.pioneer.pojo.Course" >
    insert into Course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="crn != null" >
        crn,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="credits != null" >
        credits,
      </if>
      <if test="precrn != null" >
        precrn,
      </if>
      <if test="coulev != null" >
        couLev,
      </if>
      <if test="cousec != null" >
        couSec,
      </if>
      <if test="startdate != null" >
        startDate,
      </if>
      <if test="enddate != null" >
        endDate,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
      <if test="capa != null" >
        capa,
      </if>
      <if test="facultyid != null" >
        facultyid,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="crn != null" >
        #{crn,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="credits != null" >
        #{credits,jdbcType=INTEGER},
      </if>
      <if test="precrn != null" >
        #{precrn,jdbcType=VARCHAR},
      </if>
      <if test="coulev != null" >
        #{coulev,jdbcType=VARCHAR},
      </if>
      <if test="cousec != null" >
        #{cousec,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null" >
        #{startdate,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        #{day,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="capa != null" >
        #{capa,jdbcType=INTEGER},
      </if>
      <if test="facultyid != null" >
        #{facultyid,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.harambase.pioneer.pojo.Course" >
    update Course
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="credits != null" >
        credits = #{credits,jdbcType=INTEGER},
      </if>
      <if test="precrn != null" >
        precrn = #{precrn,jdbcType=VARCHAR},
      </if>
      <if test="coulev != null" >
        couLev = #{coulev,jdbcType=VARCHAR},
      </if>
      <if test="cousec != null" >
        couSec = #{cousec,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null" >
        startDate = #{startdate,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null" >
        endDate = #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        startTime = #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        endTime = #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="capa != null" >
        capa = #{capa,jdbcType=INTEGER},
      </if>
      <if test="facultyid != null" >
        facultyid = #{facultyid,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=VARCHAR},
      </if>
    </set>
    where crn = #{crn,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.harambase.pioneer.pojo.Course" >
    update Course
    set crn = #{crn,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      credits = #{credits,jdbcType=INTEGER},
      precrn = #{precrn,jdbcType=VARCHAR},
      couLev = #{coulev,jdbcType=VARCHAR},
      couSec = #{cousec,jdbcType=VARCHAR},
      startDate = #{startdate,jdbcType=VARCHAR},
      endDate = #{enddate,jdbcType=VARCHAR},
      day = #{day,jdbcType=VARCHAR},
      startTime = #{starttime,jdbcType=VARCHAR},
      endTime = #{endtime,jdbcType=VARCHAR},
      capa = #{capa,jdbcType=INTEGER},
      facultyid = #{facultyid,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getCourseBySearch" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from Course c <where> EXISTS (SELECT * FROM CourseView cv
                                            WHERE c.crn = cv.crn
                                            AND cv.status = #{status,jdbcType=VARCHAR})
    <if test="search != null" >
      and (crn like '%' #{search,jdbcType=VARCHAR} '%' or
      name like '%' #{search,jdbcType=VARCHAR} '%')
    </if></where>
    limit 0,4
  </select>

  <select id="getAllCourses" resultMap="BaseResultMap">
    select * from Course
  </select>

  <select id="getRemain" parameterType="java.lang.String" resultType="java.lang.Integer">
    select remain from CourseView where crn = #{crn,jdbcType=VARCHAR}
  </select>

  <select id="getCourseCountByMapPageSearchOrdered" parameterType="java.util.Map" resultType="java.lang.Long">
    select count(*) as count from CourseView <where> 1 = 1
    <if test="search != null">
      and (crn like '%' #{search,jdbcType=VARCHAR} '%' or
      name like  '%' #{search,jdbcType=VARCHAR} '%' or
      credits like  '%' #{search,jdbcType=VARCHAR} '%' or
      precrn like  '%' #{search,jdbcType=VARCHAR} '%' or
      coulev like  '%' #{search,jdbcType=VARCHAR} '%' or
      cousec like  '%' #{search,jdbcType=VARCHAR} '%' or
      day like  '%' #{search,jdbcType=VARCHAR} '%' or
      time like  '%' #{search,jdbcType=VARCHAR} '%' or
      capa like  '%' #{search,jdbcType=VARCHAR} '%' or
      reamin like  '%' #{search,jdbcType=VARCHAR} '%' or
      status like  '%' #{search,jdbcType=VARCHAR} '%' or
      faculty like  '%' #{search,jdbcType=VARCHAR} '%' or
      date like  '%' #{search,jdbcType=VARCHAR} '%' or
      updatetime like  '%' #{search,jdbcType=VARCHAR} '%')
    </if>
  </where>
  </select>
  <select id="getCourseByMapPageSearchOrdered" parameterType="java.util.Map" resultType="com.harambase.pioneer.pojo.dto.CourseView">
    select * from CourseView <where> 1 = 1
    <if test="search != null" >
      and (crn like '%' #{search,jdbcType=VARCHAR} '%' or
      name like  '%' #{search,jdbcType=VARCHAR} '%' or
      credits like  '%' #{search,jdbcType=VARCHAR} '%' or
      precrn like  '%' #{search,jdbcType=VARCHAR} '%' or
      coulev like  '%' #{search,jdbcType=VARCHAR} '%' or
      cousec like  '%' #{search,jdbcType=VARCHAR} '%' or
      day like  '%' #{search,jdbcType=VARCHAR} '%' or
      time like  '%' #{search,jdbcType=VARCHAR} '%' or
      capa like  '%' #{search,jdbcType=VARCHAR} '%' or
      reamin like  '%' #{search,jdbcType=VARCHAR} '%' or
      status like  '%' #{search,jdbcType=VARCHAR} '%' or
      faculty like  '%' #{search,jdbcType=VARCHAR} '%' or
      date like  '%' #{search,jdbcType=VARCHAR} '%' or
      updatetime like  '%' #{search,jdbcType=VARCHAR} '%')
    </if></where>
    order by ${orderColumn} ${order}
    limit #{currentIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>

  <select id="facultyTime" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) as count from TranscriptView where 1 = 1
    and facultyid = #{facultyid,jdbcType=VARCHAR}
    and time = #{time,jdbcType=VARCHAR}
    and date = #{date,jdbcType=VARCHAR}
    and day  = #{day,jdbcType=VARCHAR}
  </select>
</mapper>