<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.harambase.pioneer.dao.mapper.TempCourseMapper" >
  <resultMap id="BaseResultMap" type="com.harambase.pioneer.pojo.TempCourse" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="crn" property="crn" jdbcType="VARCHAR" />
    <result column="json" property="json" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, crn, json
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from TempCourse
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TempCourse
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.harambase.pioneer.pojo.TempCourse" >
    insert into TempCourse (id, crn, json
      )
    values (#{id,jdbcType=INTEGER}, #{crn,jdbcType=VARCHAR}, #{json,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.harambase.pioneer.pojo.TempCourse" >
    insert into TempCourse
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="crn != null" >
        crn,
      </if>
      <if test="json != null" >
        json,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="crn != null" >
        #{crn,jdbcType=VARCHAR},
      </if>
      <if test="json != null" >
        #{json,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.harambase.pioneer.pojo.TempCourse" >
    update TempCourse
    <set >
      <if test="crn != null" >
        crn = #{crn,jdbcType=VARCHAR},
      </if>
      <if test="json != null" >
        json = #{json,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.harambase.pioneer.pojo.TempCourse" >
    update TempCourse
    set crn = #{crn,jdbcType=VARCHAR},
      json = #{json,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>