<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="" name="description"/>
    <meta content="webthemez" name="author"/>
    <title>先锋OA系统</title>

    <link href="/static/plugins/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/static/plugins/font/font.css" rel="stylesheet"/>
    <link href="/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">

    <link href="/static/styles/custom-styles.css" rel="stylesheet"/>
    <link href="/static/styles/checkbox3.min.css" rel="stylesheet">

</head>

<body>
<div id="wrapper">

    <!--/. NAV TOP  -->
    <div th:include="/release/common/navtop :: navtop" class="sidebar-collapse"></div>

    <!-- /. NAV SIDE  -->
    <div th:include="/release/common/navbar :: nav" class="sidebar-collapse"></div>

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                先锋管理系统
                <small id="name">欢迎回来</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active"><a href="/welcomeAdmin">主页</a></li>
            </ol>

        </div>
        <div id="page-inner">

            <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="board">
                        <div class="panel panel-primary">
                            <div class="number">
                                <h3>
                                    <h3> <span id="studentNum"></span></h3>
                                    <small>当前学生总数</small>
                                </h3>
                            </div>
                            <div class="icon">
                                <i class="fa fa-user fa-5x red"></i>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="board">
                        <div class="panel panel-primary">
                            <div class="number">
                                <h3>
                                    <h3> <span id="facultyNum"></span></h3>
                                    <small>当前教师总数</small>
                                </h3>
                            </div>
                            <div class="icon">
                                <i class="fa fa-eye fa-5x blue"></i>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="board">
                        <div class="panel panel-primary">
                            <div class="number">
                                <h3>
                                    <h3><span id="courseNum"></span></h3>
                                    <small>当前课程总数</small>
                                </h3>
                            </div>
                            <div class="icon">
                                <i class="fa fa-book fa-5x green"></i>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="card-title">
                                <div class="title">先锋用户组成情况表</div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="exampleChart" style="width: 100%; height: 460px"></div>
                        </div>
                        <div class="panel-footer">
                            图例：左图按类型分类,右图按性别分类。
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="card-title">
                                <div class="title">先锋SFC关系表</div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="relationChart" style="width: 100%; height: 460px"></div>
                        </div>
                        <div class="panel-footer">
                            图例：Student-Faculty-Course(SFC: 学生-教师-课程)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id = footerPlaceholder">
                    <div th:include="/release/common/footer :: copy" id="copyright"></div>
                </div>
            </div>

        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div><!-- /. WRAPPER  -->
</body>
<script src="/static/plugins/jquery/jquery-1.12.3.min.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/plugins/confirm/confirm.js"></script>
<script src="/static/plugins/jquery/jquery.metisMenu.js"></script>

<script src="/static/scripts/common/custom-scripts.js"></script>
<script src="/static/scripts/common/basePath.js"></script>
<script src="/static/scripts/common/logout.js"></script>
<script src="/static/scripts/common/common.js"></script>

<script src="/static/plugins/echarts/echarts.min.js"></script>
<script src="/static/scripts/chart.js"></script>
<script src="/static/scripts/common/dataTool.js"></script>
<script src="/static/scripts/admin/welcomeAdmin.js"></script>

</html>