<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/release/admin/common/header :: commonHeader('权限管理',false, false)"></head>
<body>
<div id="wrapper">

    <!--/. NAV TOP  -->
    <div th:include="/release/admin/common/navtop :: navtop" class="sidebar-collapse"></div>

    <!-- /. NAV SIDE  -->
    <div th:include="/release/admin/common/navbar :: nav" class="sidebar-collapse"></div>

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                先锋系统管理
                <small>用户权限管理</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">主页</a></li>
                <li><a href="#">系统管理</a></li>
                <li class="active">权限管理</li>
            </ol>

        </div>
        <div id="page-inner">
            <div class="panel-footer" id = footerPlaceholder">
                <div th:include="/release/admin/common/footer :: copy" id="copyright"></div>
            </div>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<div th:include="/release/admin/common/js :: load_js(false , false, false)"></div>

</body>
</html>
