<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10.000">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>登录</title>
    <link rel="stylesheet" href="/static/styles/login.css">
    <link rel="stylesheet" href="/static/plugins/confirm/confirm.css">

</head>
<body class="body" data-gr-c-s-loaded="true">
<div id="fullPage">
    <div id="brandingWrapper" class="float">
        <div id="branding" class="illustrationClass"></div>
    </div>
    <div id="contentWrapper" class="float">
        <div id="content">
            <div id="header">
                <img src="/static/images/HaramBaseICON.png" style="width: 400px;">
            </div>
            <div id="workArea">
                <div id="authArea" class="groupMargin">
                    <div id="loginArea">
                        <div id="loginMessage" class="groupMargin"><b>请选择接入系统:</b></div>
                        <table>
                            <tr>
                                <td><div id="adSys"><input id="admin"   type="submit" class="button" value="管理系统"/></div></td>
                                <td><div id="faSys"><input id="faculty" type="submit" class="button" value="教学系统"/></div></td>
                                <td><div id="stSys"><input id="student" type="submit" class="button" value="学生系统"/></div></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div id="footerPlaceholder">
                <b><div id="footer">
                    <div id="copyright">
                        <p><a>Copyright &copy; 2017</a> - All Rights Reserved<br>
                            <a>Harambase Development Team</a></p>
                    </div>
                </div></b>
            </div>
        </div>
    </div>
</div>

</body>
<script src="/static/plugins/jquery/jquery-1.12.3.min.js"></script>
<script src="/static/plugins/jquery/jquerySession.js"></script>
<script src="/static/plugins/confirm/confirm.js"></script>
<script src="/static/plugins/jquery-validate/jquery.validate.min.js"></script>
<script src="/static/plugins/jquery-validate/messages_zh.js"></script>
<script src="/static/scripts/basePath.js"></script>
<script src="/static/scripts/welcome.js"></script>
</html>