.system-control {
    background: #E0E3E8;
    border: 1px solid transparent;
    font-size: 14px;
    min-height: 890px;
}
.system-control .container {
    padding: 0;
    margin-top: 20px;
}
.system-control .container .system-nav {
    width: 220px;
    height: 800px;
    float: left;
    background: #32394B;
}
.system-control .container .system-nav div {
    height: 60px;
    width: 100%;
    line-height: 60px;
    color: #fff;
    border-bottom: 1px solid #222834;
    text-align: center;
    position: relative;
    z-index: 200;
    cursor: pointer;
}
.system-control .container .system-nav div .system-user-bg {
    display: block;
    width: 230px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.system-control .container .system-user-detail {
    margin-left: 20px;
    padding-right: 20px;
    width: 960px;
    float: right;
}
.system-control .container .system-user-detail h3 {
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    background: #fff;
    padding-left: 20px;
}
.system-control .container .system-user-detail h3:before {
    display: block;
    width: 3px;
    height: 24px;
    position: absolute;
    top: 18px;
    left: 0;
    background: #3F99ED;
}
.system-control .container .system-user-detail .user-list {
    margin-top: 10px;
    padding-top: 20px;
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;

}
.system-control .container .system-user-detail .user-list .user-btn {
    padding-bottom: 10px;
}
.system-control .container .system-user-detail .user-list .user-btn button {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background: #3F99ED;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border: none;
    outline: none;
}
.system-control .container .system-user-detail .user-list .user-table {
    /*width: 100%;*/
    /*margin-right:20px;*/
}
.system-control .container .system-user-detail .user-list .user-table table{
    /*display: inline-table;*/
}
.system-control .container .system-user-detail .user-list .user-table table thead tr {
    /*height: 50px;*/
    background: #85A9CB;
    color: #fff;
    line-height: 34px;
    text-align: center;
    width: 110px;
    white-space: nowrap;
    /*margin-right: 20px;*/
    /*text-align: center;*/
}
/*.system-control .container .system-user-detail .user-list .user-table table thead tr td:first-child {*/
/*text-align: left;*/
/*padding-left: 15px;*/
/*}*/
.system-control .container .system-user-detail .user-list .user-table table thead tr th{
    text-align: center;
}
.system-control .container .system-user-detail .user-list .user-table table thead tr td:first-child input {
    margin: 0;
    margin-right: 10px;
}
.system-control .container .system-user-detail .user-list .user-table table tbody tr {
    height: 50px;
    text-align: center;
}
.system-control .container .system-user-detail .user-list .user-table table tbody tr .show-pic {
    display: none;
    cursor: pointer;
    text-align: center;
}
.system-control .container .system-user-detail .user-list .user-table table tbody tr td:first-child {
    /*min-width: 170px;*/
    text-align: left;
    padding-left: 15px;
}
.system-control .container .system-user-detail .user-list .user-table table tbody tr td:first-child input {
    margin: 0;
    margin-right: 10px;
}
.system-control .container .system-user-detail .user-list .user-table table tbody tr td{
    background-color: transparent;
}
.system-control .container .system-user-detail .user-list .user-table table tbody tr:hover{
    color: #fff;
}
.system-control .container .system-user-detail .user-list .user-table table tbody tr td:first-child i {
    margin-left: 10px;
}
.system-control .container .system-user-detail .user-list .user-table table tbody tr:hover {
    background: #3F99ED;
    /*color: #fff;*/
}
.system-control .container .system-user-detail .user-list .user-table table tbody tr:hover .show-pic {
    display: inline-block;
    width: 40px;
}
.system-control .container .system-user-detail .user-list .user-table table tbody tr:nth-child(2n) {
    background: #F7F7F9;
}
.system-control .container .system-user-detail .user-list .user-table table tbody tr:nth-child(2n):hover {
    background: #3F99ED;
}
/*.system-control .container .system-user-detail .user-list .user-table table tbody tr:nth-child(2n):hover .show-pic {*/
/*display: inline-block;*/
/*color: #fff;*/
/*}*/
.system-control .container .system-user-detail .user-list .user-table .system-data span {
    color: #3F99ED;
}
.system-control .container .system-user-detail .user-list .user-table .paging {
    text-align: center;
}
.system-control .container .system-user-detail .user-list .user-table .paging .pagination li span {
    margin-left: 10px;
    border-radius: 5px;
}

.system-control .container .system-user-detail .user-list .user-table select{
    border-radius: 15px;
    font-size: 14px;
}
.system-control .container .system-user-detail .user-list .user-table input[type="search"]{
    border-radius: 15px;
}


.new-user-pop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
    top: 0;
    left: 0;
    display: none;
}
.new-user-pop .new-user-con {
    margin: 240px auto;
    width: 530px;
    height: 430px;
    background: #fff;
}
.new-user-pop .new-user-con .new-user-create {
    height: 50px;
    background: #3F99ED;
    color: #fff;
    font-size: 16px ;
    padding-left: 15px;
    position: relative;
    line-height: 50px;
}
.new-user-pop .new-user-con .new-user-create span {
    display: block;
    font-size: 28px;
    position: absolute;
    line-height: 50px;
    right: 15px;
    top: 0;
    cursor: pointer;
}
/*.new-user-pop .new-user-con .new-user-create table tr td input{*/
/*border: 1px solid #e0e3e8;*/
/*padding-left: 10px;*/
/*border-radius: 5px;*/
/*}*/
.new-user-pop {
    font-size: 16px;
    text-align: center;
}
.new-user-pop table {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.new-user-pop table tr td {
    height: 50px;
}
.new-user-pop table tr td:first-child {
    text-align: right;
}
.new-user-pop table tr td:last-child {
    text-align: left;
}
.new-user-pop table tr td:last-child input {
    width: 280px;
    height: 30px;
    border: 1px solid #e0e3e8;
    padding-left: 10px;
    border-radius: 5px;
}
/*.new-user-pop table tr td:last-child input:focus{*/
/*border-color: #3F99ED;*/

/*}*/
.new-user-pop table tr td:last-child select {
    width: 280px;
    padding-left: 10px;
}
.new-user-pop button {
    width: 100px;
    height: 30px;
    /*background: #3F99ED;*/
    border-radius: 15px;
    line-height: 30px;
    border: 1px solid #e0e3e8;
    text-align: center;
    /*color: #fff;*/
    background: #fff;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    color:#3F99ED ;
}
.new-user-pop button:hover{
    background:#3F99ED;
    color: #fff;
    transition: all .5s;
}
.delete-user-pop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
    top: 0;
    left: 0;
    display: none;
}
.delete-user-pop .delete-user {
    width: 280px;
    height: 150px;
    margin: 240px auto;
    background: #fff;
}
.delete-user-pop .delete-user .true-delete {
    height: 40px;
    background: #3F99ED;
    color: #fff;
    font-size: 16px ;
    padding-left: 15px;
    position: relative;
    line-height: 40px;
}
.delete-user-pop .delete-user .true-delete span {
    display: block;
    font-size: 28px;
    position: absolute;
    line-height: 40px;
    right: 15px;
    top: 0;
    cursor: pointer;
}
.delete-user-pop .delete-user .true-delete-user {
    line-height: 60px;
    text-align: center;
    font-size: 16px;
}
.delete-user-pop .delete-user .delete-btn {
    text-align: center;
}
.delete-user-pop .delete-user .delete-btn button {
    width: 70px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #8e959e;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 10px;
}
.delete-user-pop .delete-user .delete-btn button:hover {
    transition: all .5s;
    background: #3F99ED;
    color: #fff;
    border: none;
}

/*组管理*/
/*.system-control .group-control .user-table tbody tr td:first-child{*/
/*width: 300px;*/
/*}*/

/*编辑弹窗*/
.w_wrapper{
    box-sizing:border-box;
    background:rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
}
.w_wrap{
    position:absolute;
    top: 110px;
    left:50%;
    margin-left:-265px;
    width:530px;
    border-radius:5px;
    background:#fff;
    box-shadow:0 0 3px 3px rgba(0,0,0,0.3);
}
.w_wrap>.w_head{
    position:relative;
    height:50px;
    padding:0 15px;
    background: #02a5a6;
    font:16px/50px 'Microsoft Yahei';
    color:#fff;
}
.w_close {
    position: absolute;
    top: -5px;
    right: 18px;
    font: 26px/50px serif;
    cursor: pointer;
}
.w_wrap .w_body{
    padding:0 30px 18px;
}
.w_wrap .w_tab{
    padding:15px 0 13px;
    font:14px/2 "Microsoft Yahei";
    color: #02a5a6;
}
.w_wrap .w_tab li{
    float:left;
    cursor: pointer;
    padding:0 12px;

}
.w_wrap .w_tab li.active{
    /*padding:0 12px;*/
    border-bottom: 2px solid #b5adad;
}
.w_wrap .w_tab li:nth-child(2){
    margin:0 20px 0;
}

.w_wrap .w_tabC .w_content{
    padding: 0px 28px 8px;
}
.w_wrap .w_tabC .w_basicInfo{
    line-height:35px;
    color:#292c2e;
}
.w_wrap .w_tabC .w_basicInfo span{
    color:#8e959e;
}
/*.w_tabC .system-control-btn button,.w_tabE .system-control-btn button{*/
    /*border: 1px solid #a0a5ad;*/
/*}*/
#nickname{
    height: 30px;
    border-radius: 5px;
    border: 1px solid #a0a5ad;
    padding-left: 10px;
}
#searchValue{
    height: 30px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #a0a5ad;
}
#add-button{
    color: #03ced0;
    border: 1px solid #a0a5ad;
}
#add-button:hover{
    color: #fff;
    background: #4a8cd6;
}
.w_select{
    position:relative;
    width:145px;
    display:inline-block;
}
.w_select .w_selected,.w_button{
    height:32px;
    padding:0 14px;
    border:none;
    border-radius:17px;
    line-height:32px;
    color:#4a8cd6;
    background:#fff;
    cursor:pointer;
}
.group-form-input{
    position: relative;
}
.group-form-input .w_selected{
    position:absolute ;
    top: 33px;
    left: 0;
    width: 280px;
    z-index: 10;
}
.w_select .w_selected li{
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    cursor: pointer;
}
.w_select .w_downArrow{
    position:absolute;
    right:14px;
    top:15px;
    width:0;
    height:0;
    border:solid transparent;
    border-width:5px 3px;
    border-top-color:#a0a5ad;
}
.w_select .w_option{
    position:absolute;
    top:38px;
    min-width:100%;
    color:#767e85;
    border-radius:3px;
    overflow:hidden;
    box-shadow:0 0 3px 3px rgba(181,181,181,0.4)
}
.w_select .w_option li{
    padding:0 20px;
    font:12px/32px "Microsoft Yahei";
    background:#fff;

}
.w_select .w_option li:hover,.w_select .w_option li.active{
    background:#4a8cd6;
    color:#fff;
    cursor:pointer;

}
.w_button{
    display: inline-block;
    background-color: #03ced0;
    color: white;
    width: 132px;
    height: 30px;
    margin: 0 0 9px 0;
    vertical-align: middle;
}
.w_button:hover{
    color:white;
    background-color: #c7254e;
    vertical-align: middle;
}
.w_button .w_add:hover{
    color:white;
    background-color: #c7254e;
    vertical-align: middle;
}
.w_content .w_add{
    margin: 0 15px;
}
.w_teamList{
    padding:17px 0 0 0;
}
.w_teamList .w_head{
    padding:0 20px;
    background:#e0e3e8;
    color:#292c2e;
    border-radius:5px 5px 0 0;
    font:16px/30px "Microsoft Yahei";
}
.w_teamList .w_body{
    height:167px;
    padding:8px 18px 8px 0;
    border:1px solid #e0e3e8;
    background:#fff;
    font-size:16px;
    color:#767e85;
    line-height:38px;
}
.w_teamList .w_body li{
    padding:0 18px;
    cursor:pointer;
}
.w_teamList .w_body li.active,.w_teamList .w_body li:hover{
    background:#d5edfb;
    color:#292c2e;

}
.w_teamList .w_ul{
    background: #FFF;
    height: 96px;
    overflow: auto;
    border: 1px solid #e0e3e8;

}
.w_teamList .w_ul li{
    position: relative;
    height: 30px;
    padding-left: 10px;
    line-height: 30px;
    background: #fff;
}
.w_teamList .w_ul li:hover{
    background: #4a8cd6;
    color: #fff;
}
.w_teamList .w_ul li i{
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    top: 0;
    right: 0;
    font-style: normal;
    cursor: pointer;
    color: #4a8cd6;
}
.w_teamList .w_ul li:hover i{
    color: #fff;
}
.w_buttons_w{
    text-align:center;
}
.w_buttons_w .w_button{
    display:inline-block;
    margin:0 40px;
    width: 92px;
}
.w_buttons_w .w_button:hover,.w_buttons_w .w_button.active{
    background:#4a8cd6;
    color:#fff;
    transition: all .5s;
}
.w_button{
    transition: all .5s;
}

/*账号管理*/
.w_tabD{
    display: none;
}
.w_tabD .w_manage,.w_tabE .status{
    /*height: 220px;*/
    background: #F7F7F9;
    padding: 10px;
}
.w_tabD .w_manage h4,.w_tabE .status h4{
    font-size: 14px;
    color: #292C2D;
    margin-bottom: 5px;
    margin-top: 20px;
}
.w_tabD .w_manage .w_allow,.w_disable,.w_tabE .status .w_allow,.w_disable{
    color:#757D85 ;
    vertical-align: middle;
    cursor: pointer;


}
.w_manage input[value="DISABLE"],.status input[value="DISABLE"]{
    margin-left: 30px;
}
.w_manage input[value="BLOCK"]{
    margin-left: 30px;
}
.w_manage i,.status i{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #fff;
    vertical-align: middle;
    border: 1px solid #9FA5AD;
}
.w_tabD .w_manage .reset-pass{
    margin-top: 30px;
    margin-bottom: 10px;
}

.w_manage .active i,.status .active i{
    border: 1px solid #498BD5;
    padding: 5px;
}
.w_manage .active i:before,.status .active i:before{
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    position: relative;
    top: 0;
    left: 0;
    color: #02a5a6;
    border-radius: 4px;
}
.w_tabD .w_manage p{
    color:  #8D959D;
    margin-bottom: 10px;
    font-size: 12px;
}
#trafficRemains{
    margin-right: 50px;
}
.w_tabD .w_manage button,.status_btn button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 15px;
    color: #02a5a6;
    text-align: center;
    line-height: 30px;
    background: #fff;
    border: 1px solid #a0a5ad;
    outline: none;
}
.w_tabD .w_manage_btn,.status_btn{
    text-align: center;
    margin-top: 30px;
}
.w_tabD .w_manage_btn button,.status_btn button{
    width: 91px;
    height: 30px;
    border-radius: 15px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 14px;
    line-height: 30px;

}
.w_tabD .w_manage_btn button:hover,.status_btn button:hover{
    background: #498BD5;
    color: #fff;
    transition: all .5s;
}

/*接入访问控制*/
.w_tabE{
    display: none;
}
.w_tabE .status .visit_control{
    margin-top: 40px;
}
.w_tabE p{
    color:#8D959D ;
}
.w_tabE p input{
    /*display: inline-block;*/
    width: 60px;
    height: 27px;
    background: #fff;
    text-align: center;
    line-height: 27px;
    color: #498BD5;
}

/*新建组弹窗*/
.new-user-pop .new-group-pop{
    background: #F7F7F9;
    height: 320px;
}
.new-group-pop .group-input{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
}
.new-group-pop .group-input input{
    width: 240px;
    height: 36px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.new-user-pop .new-group-pop button{
    width: 72px;
    height: 30px;
    background: #fff;
    color:#498BD5 ;
    font-size: 14px;
}
.new-user-pop .new-group-pop button:hover{
    background:#498BD5;
    color:#fff;
    transition: all .5s;
}

/*组管理编辑组*/
.w_group-name{
    color: #498BD5;
}
.group-edit .group-form-input{
    margin-top: 10px;
    position: relative;
}
.group-edit .group-form-input #searchValue{
    width: 260px;
    height: 30px;
    border: 1px solid #ccc;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 30px;
    border-radius: 15px;
    outline:none ;

}
.group-edit .group-form-input input:focus{
    border: 1px solid #498BD5;
    border-radius: 15px;
}
.group-edit .group_f{
    color: #757D85;
    font-size: 14px;
}
.group-edit .group-form-input .w_close{
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    top: 0;
    left: 180px;
    color: #8D959D;
    font-size: 14px;
    text-align: center;

}
.group-edit .group-form-input i{
    display: block;
    height: 30px;
    width: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #498BD5;
    line-height: 30px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 2px;
    left: 210px;
    cursor: pointer;
}
.group-edit .group-form-input .group-ul{
    position: absolute;
    z-index: 5;
    top: 35px;
    left: 0;
    width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    display: none;
    height: 135px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.group-edit .group-form-input .group-ul li{
    height: 30px;
    padding-left: 15px;
    background: #fff;
    line-height: 30px;
    color: #757D85;
    font-size: 12px;
    cursor: pointer;
}
.group-edit .group-form-input .group-ul li:hover{
    background: #498BD5;
    color: #fff;
}
.group-edit .group-form-input b{
    display: inline-block;
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    line-height: 30px;
    text-align: center;
    color: #8D959D;
    cursor: pointer;
    font-weight: 100;
}
.group-edit .group-form-input b:hover{
    border-color: #498BD5;
    color: #498BD5;
    transition: all .5s;
}
.group-title{
    margin-top: 5px;
    padding-left: 5px;
}
.group-title span{
    font-size: 16px;
    color: #26292B;
}

.group-title .w_edit{
    color: #498BD5;
    cursor: pointer;
    margin-left: 10px;
}
.w_desc{
    color:#8D959D ;
    font-size: 12px;
    padding-left: 5px;
}

/*修改组基本信息*/
.edit-group .edit-group-pop{
    height: 380px;
}
.edit-group-pop .pop-title{
    height: 50px;
    background: #3F99ED;
    color: #fff;
    font-size: 16px ;
    padding-left: 15px;
    position: relative;
    line-height: 50px;
    text-align: left;
}
.pop-title .cancel-pop{
    display: block;
    font-size: 28px;
    position: absolute;
    line-height: 50px;
    right: 15px;
    top: 0;
    cursor: pointer;
}
.edit-group .w-edit-group{
    padding-left: 50px;;
}
.edit-group .w-edit-group tr:nth-child(2){
    vertical-align: top;
}
.edit-group .w-edit-group tr:nth-child(1) input{
    width: 240px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
}
.edit-group .w-edit-group tr:nth-child(1) td:nth-child(2){
    position: relative;
}
.edit-group .w-edit-group tr:nth-child(1) i{
    position: absolute;
    top: 10px;
    left: 210px;
    font-style: normal;
    font-size: 16px;
    color:#8D959D;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
.edit-group .w-edit-group textarea{
    width: 290px;
    height: 110px;
    border-color: #ccc;
    border-radius: 10px;
}
.edit-group .w-edit-group button{
    background: #fff;
    color:#498BD5 ;
    border: 1px solid #498BD5;
    width: 72px;
}
.edit-group .w-edit-group button:hover{
    background: #498BD5;
    color: #fff;
    transition: all .5s;
}
.textarea-tip{
    font-size: 12px;
    color: #8D959D;
}

.edit-group .w-edit-group table tr td:last-child select{
    width:80px;
    border-radius: 5px;
    padding-left: 10px;
}
/*table样式*/
#logTable thead tr th:nth-of-type(1){
    width: 35px!important;
}
#logTable thead tr th:nth-of-type(7){
    width: 190px!important;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 0px 0px;
    border-bottom: 1px solid #111;
}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 19px;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
    /* font-size: 9px; */
    height: 12px;
}