<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="commonHeader(title,table,select2)">

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="" name="description"/>
    <meta content="harambase" name="author"/>

    <title th:text="${title}"></title>

    <link rel="stylesheet" href="/static/plugins/confirm/confirm.css" >
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/font/font.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/plugins/checkbox3/checkbox3.min.css">

    <link th:if="${table}" rel="stylesheet" type=text/css href="/static/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css">
    <link th:if="${table}" rel="stylesheet" type=text/css href="/static/plugins/datatables/datatables.min.css">

    <link th:if="${select2}" rel="stylesheet" type=text/css href="/static/plugins/select2/select2.min.css">

    <link rel="stylesheet" type=text/css href="/static/styles/custom-styles.css"/>
</head>
