<div th:fragment="nav" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <nav class="navbar-default navbar-side" role="navigation">
        <ul class="nav" id="main-menu">
            <li><a href="/index" class="active-menu"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li shiro:hasAnyPermissions ="admin, student"><a href="/student/course/view"><i class="fa fa-book"></i>我的课程</a></li>
            <li shiro:hasAnyPermissions ="admin, faculty, teach"><a href="/faculty/course/view"><i class="fa fa-book"></i>我的课程</a></li>
            <li><a href="#"><i class="fa fa-desktop"></i>教务系统<span class="fa arrow"></span></a>

                <ul class="nav nav-second-level">
                    <li shiro:hasAnyPermissions ="user"><a href="/student/course/view">查看所有课程</a></li>
                    <li shiro:hasAnyPermissions ="admin, faculty"><a href="#">新课程申请<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a href="/course/create">新课程申请</a></li>
                            <li><a href="/course/request">新课程申请查看</a></li>
                        </ul>
                    </li>
                    <li shiro:hasAnyPermissions ="admin, teach"><a href="#">课程管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a href="/course/create">创建新课程</a></li>
                            <li><a href="/course/request">新课程申请管理</a></li>
                        </ul>
                    </li>

                    <li shiro:hasAnyPermissions ="admin, student"><a href="/student/transcript/view">成绩单查看</a></li>
                    <li shiro:hasAnyPermissions ="admin, student"><a href="/student/course/choose">新学期选课</a></li>

                    <li shiro:hasAnyPermissions ="admin, teach"><a href="/manage/transcript/view">成绩单管理</a></li>
                    <li shiro:hasAnyPermissions ="admin, teach"><a href="/manage/student/credit">学生学分管理</a></li>
                    <li shiro:hasAnyPermissions ="admin, teach"><a href="/manage/advising">导师管理</a></li>
                    <li shiro:hasAnyPermissions ="admin, teach"><a href="/manage/pin">识别码管理</a></li>
                    <li shiro:hasAnyPermissions ="admin, teach"><a href="/faculty/transcript/view">成绩管理</a></li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-sitemap"></i>行政系统<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li shiro:hasAnyPermissions ="admin, system"><a href="/manage/leave">请假管理</a></li>
                    <li shiro:hasAnyPermissions ="admin, system"><a href="/manage/course">宿舍管理</a></li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-qrcode"></i>系统管理<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#">用户管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li shiro:hasAnyPermissions ="admin, system"><a href="/manage/user/create">创建新用户</a></li>
                            <li shiro:hasAnyPermissions ="admin, system"><a href="/manage/user/view">查看已有用户</a></li>
                        </ul>
                    </li>
                    <li shiro:hasAnyPermissions ="admin, system"><a href="/manage/user/role">用户权限管理</a></li>
                    <li shiro:hasAnyPermissions ="admin, system"><a href="/manage/user/request">用户申请管理</a></li>
                </ul>
            </li>

            <li><a shiro:hasAnyPermissions ="admin, student" href="/student/advising"><i class="fa fa-sitemap"></i>辅导系统</a></li>
            <li><a shiro:hasAnyPermissions ="admin, teach" href="/faculty/advising"><i class="fa fa-sitemap"></i>辅导系统</a></li>
            <li><a shiro:hasAnyPermissions ="user" href="/message"><i class="fa fa-bell"></i>消息中心</a></li>
        </ul>
    </nav>
</div>
