<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/release/admin/common/header :: commonHeader('选课设置',false, true)"></head>
<body>
<div id="wrapper">
    <!--/. NAV TOP  -->
    <div th:include="/release/admin/common/navtop :: navtop" class="sidebar-collapse"></div>

    <!-- /. NAV SIDE  -->
    <div th:include="/release/admin/common/navbar :: nav" class="sidebar-collapse"></div>

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                先锋行政管理
                <small>识别码管理</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/welcomeAdmin">主页</a></li>
                <li><a href="#">行政管理</a></li>
                <li class="active">识别码(PIN)设置</li>
            </ol>

        </div>
        <div id="page-inner">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        识别码管理：生成，清空
                    </div>
                    <div class="panel-body">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <span data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                                          style="cursor: pointer"><i class="fa down"></i> 识别码(PIN)生成 </span>
                                </div>
                                <div id="collapseTwo" class="panel-collapse in" style="height: auto;">
                                    <div class="panel-body">
                                        <form class="form-horizontal" id="createPinForm" onclick="return false;">
                                            <div class="col-md-12 col-sm-4">
                                                <div class="panel panel-danger">
                                                    <div class="panel-heading">
                                                        学期信息
                                                    </div>
                                                    <div class="form-group panel-body">
                                                        <div class="col-sm-2">
                                                            <label for="info" class="col-sm-12 control-label">*年份-学期(YYYY-XX):</label>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <input id="info" class="form-control" minlength="7" maxlength="7" required/>
                                                        </div>
                                                    </div>
                                                    <div class="panel-footer">
                                                        注意：该处填写规则为注册年份-学期号。学期号规则为：春季是01，秋季是02，其他为03。
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-4">
                                                <div class="panel panel-info">
                                                    <div class="panel-heading">
                                                        时间信息
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <div class="col-sm-2">
                                                                <label for="startTime" class="col-sm-12 control-label">*生效开始时间:</label>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <input id="startTime" class="form-control" minlength="19" maxlength="19" required/>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <label for="endTime" class="col-sm-12 control-label">*失效时间:</label>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <input id="endTime" class="form-control" minlength="19" maxlength="19" required/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel-footer">
                                                        注意：*为必填项，其余选填。
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-4">
                                                <div class="panel panel-danger">
                                                    <div class="panel-heading">
                                                         生成识别码(PIN)的种类
                                                     </div>
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <div class="col-sm-2">
                                                                <label for="password" class="col-sm-12 control-label">选择种类:</label>
                                                            </div>
                                                            <div class="col-sm-8">
                                                                 <div id="course-div"
                                                                     class="checkbox3 checkbox-danger checkbox-inline checkbox-check  checkbox-circle checkbox-light">
                                                                    <input type="checkbox" id="course" name="type" value="1">
                                                                    <label for="course">选课</label>
                                                                </div>
                                                                <div id="transcript-div"
                                                                     class="checkbox3 checkbox-danger checkbox-inline checkbox-check  checkbox-circle checkbox-light">
                                                                    <input type="checkbox" id="transcript" name="type" value="2">
                                                                    <label for="transcript">成绩录入</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-4">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <div class="col-sm-2">
                                                                <label for="password" class="col-sm-12 control-label">备注信息:</label>
                                                            </div>

                                                            <div class="col-sm-8">
                                                                <textarea style="resize: none;" class="form-control" id="comments" rows="3"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-2">
                                                                <label for="password"
                                                                       class="col-sm-12 control-label">*请确认上述信息正确无误:</label>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div id="yes-div" class="checkbox3 checkbox-danger checkbox-inline checkbox-check  checkbox-circle checkbox-light">
                                                                    <input type="checkbox" id="yes" name="confirm" required><label for="yes">确认</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <label for="password" class="col-sm-12 control-label">*管理员操作密码:</label>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <input type="password" id="password" class="form-control" minlength="6" maxlength="16" checkOpPwd="true" required/>
                                                            </div>
                                                            <button style="width:150px;" class="btn btn-primary" id="generate">生成</button>
                                                        </div>
                                                        <div class="panel-footer">
                                                            注意：操作密码不是登录密码
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <span data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" style="cursor: pointer">识别码(PIN)清空</span>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="col-sm-3">
                                            <label for="searchInfo" class="col-sm-12 control-label">*请选择清空学期:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <select style="width: 100%" id="searchInfo" class="js-example-basic-single" name="states">
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <label for="password" class="col-sm-12 control-label">*管理员操作密码:</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="password" id="password" class="form-control" minlength="6" maxlength="16" checkOpPwd="true" required/>
                                        </div>
                                        <button style="width:150px;" class="btn btn-primary" id="generate">清除</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="panel-footer" id = footerPlaceholder">
                <div th:include="/release/admin/common/footer :: copy" id="copyright"></div>
            </div>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<div th:include="/release/admin/common/js :: load_js(false , false, true)"></div>
<script src="/static/scripts/admin/administration/pin.js"></script>
<script>
    //执行一个laydate实例
    laydate.render({
        elem: '#startTime',
        theme: '#393D49',
        type:'datetime',
        showBottom: ['clear', 'confirm']//指定元素
    });
    laydate.render({
        elem: '#endTime',
        theme: '#393D49',
        type:'datetime',
        showBottom: ['clear', 'confirm']//指定元素
    });
</script>
</body>
</html>
