<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>请求管理</title>
    <link href="/plugins/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/plugins/confirm/confirm.css" rel="stylesheet">
    <link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="/plugins/font/font.css" rel="stylesheet">
    <link href="/plugins/datatables/datatables.min.css" rel="stylesheet">
    <link href="/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" >
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
    <link href="/styles/signin.css" rel="stylesheet" type="text/css">
    <link href="/styles/title.css" rel="stylesheet" type="text/css">
    <link href="/styles/manage.css" rel="stylesheet" type="text/css">
    <link href="/styles/header.css" rel="stylesheet">
    <link href="/styles/manageCourse.css" rel="stylesheet">
</head>
<body>
<div class="sidebar" style="top: 0px;">
    <h1><i class="fa fa-bars push"></i>Administrator <span class="color">Manage</span></h1>
    <ul>
        <li><a href="/welcomeAdmin"><i class="fa fa-dashboard push"></i>主页<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
        <li><a href="/manageCourse"><i class="fa fa-book push"></i>课程<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
        <li><a href="/manageUser"><i class="fa fa-user push"></i>用户<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
        <li><a href="/manageAdvising"><i class="fa fa-users push"></i>辅导关系<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
        <li><a href="/manageTranscript"><i class="fa fa-sticky-note push"></i>成绩单<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
        <li><a href="/manageRequest"><i class="fa fa-sticky-note push"></i>申请管理<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
        <li><a href="#" id="logout"><i class="fa fa-plane push"></i>登出<i class="fa fa-angle-right"></i></a><span class="hover"></span></li>
    </ul>
</div>
<div class="site-branding-text">
    <h1 class="site-title">Administrator Manage Site</h1>
    <p class="site-description">Request Manage Center</p>
</div>

<div class="spilt register-table">
    <div style="float: left;position:absolute;width: 50%;height: 700px; display: block" class="account-container register">
        <div class="content clearfix">
            <h1>用户注册请求列表</h1>
            <div class='course-table'>
                <table width="100%" style="font-size: 14px;" id="userReg" class="display dataTable">
                </table>
            </div>
        </div> <!-- /content -->
    </div> <!-- /account-container -->
</div>
<div class="w_wrapper">
    <div class="w_wrap" style="position: absolute">
        <div class="w_head">
            <span>申请详情</span>
            <span class="w_close">×</span>
        </div>
        <div class="w_body">
            <ul class="w_tab clearfix">
                <li class="active base-info">用户基本信息</li>
                <li class='account'>账户属性</li>
            </ul>
            <form id="editUserForm" method="post" onsubmit="return false">
            <div class="w_tabC w_pop">
                <div class="w_content">
                    <div class="w_basicInfo account-container register" style="margin-left: 0px;">

                            <table style="margin: 15px 27px;">
                                <input id="pwd" name="pwd" value="" class="login" hidden/>
                                <tr>
                                    <td><p style="float: left; margin-right: 35px">用户ID:</td>
                                    <td><input id="userid2" name="userid" value="" class="login" disabled/></td>
                                </tr>
                                <tr>
                                    <td><p style="float: left">名:</p></td>
                                    <td><input id="firstname2" name="firstname" value="" class="login" minlength="1"
                                               maxlength="20" required/></td>
                                </tr>
                                <tr>
                                    <td><p style="float: left">姓:</p></td>
                                    <td><input id="lastname2" name="lastname" value="" class="login"
                                               minlength="1" maxlength="20" required/></td>
                                </tr>
                                <tr>
                                    <td><p style="float: left">生日:</p></td>
                                    <td><input id="birthday2" name="birthday" value="YYYY-MM-DD" class="login"
                                               maxlength="10"/></td>
                                </tr>
                                <tr>
                                    <td><p style="float: left">Email:</p></td>
                                    <td><input id="email2" name="email" value="" class="login"/></td>
                                </tr>
                                <tr>
                                    <td><p style="float: left">QQ:</p></td>
                                    <td><input id="qq2" name="QQ" value="" class="login"/></td>
                                </tr>
                                <tr>
                                    <td><p style="float: left">电话号码:</p></td>
                                    <td><input id="tel2" name="tel" value="" class="login"/></td>
                                </tr>
                                <tr>
                                    <td><p style="float: left">备注信息:</p></td>
                                    <td><textarea id="comment2" style="margin: 5px 0px 0px 0px; width: 250px; height: 100px; resize: none;"></textarea></td>
                                </tr>
                            </table>

                    </div> <!-- /account-container -->
                </div>
                <p class="w_buttons_w system-control-btn">
                    <button id="next"    class="w_button account">下一页</button>
                    <button id="cancel"  class="w_button">取消查看</button>
                </p>
            </div>
            <div class="w_tabD w_pop">
                <div class='w_manage'>

                    <h4 class="type">用户账户类型: </h4>
                    <input class='student' type="checkbox" name="type2" value="s" required/>学生
                    <input class='teacher' type="checkbox" name="type2" value="f" required/>教师
                    <input class='admin' type="checkbox" name="type2" value="a" required/>管理员

                    <h4 class="gender">用户性别:</h4>
                    <input class='male' type="checkbox" name="powerState" value="male"/>男
                    <input class='female' type="checkbox" name="powerState" value="female"/>女

                    <h4 class="gender" style="color: red">申请批准:</h4>
                    <div class='w_manage_btn system-control-btn'>
                        <table><tr><td>
                            <button class="w_button" style="width: 150px;height: 30px;" id="apply">批准申请</button>
                        </td><td>
                            <button class="w_button" style="width: 150px;height: 30px;" id="decline">拒绝申请</button>
                        </td></tr></table>
                    </div>
                </div>
                <div class='w_manage_btn system-control-btn'>
                    <button id="previous" class="w_button base-info">上一页</button>
                    <button id="cancel2"  class="w_button">取消查看</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
<script src="/plugins/jquery/jquery-1.12.3.min.js"></script>
<script src="/plugins/jquery/jquerySession.js"></script>
<script src="/plugins/datatables/datatables.all.min.js"></script>
<script src="/plugins/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="/plugins/confirm/confirm.js"></script>
<script src="/plugins/jquery-validate/jquery.validate.min.js"></script>
<script src="/plugins/jquery-validate/messages_zh.js"></script>
<script src="/scripts/basePath.js"></script>
<script src="/scripts/logout.js"></script>
<!--<script src="/scripts/common.js"></script>-->
<script src="/scripts/manageRequest.js"></script>
<script src="/scripts/index.js"></script>
</html>
