<div th:fragment="load_js(table,chart,select2)" xmlns:th="http://www.thymeleaf.org">

    <script src="/static/plugins/jquery/jquery-1.12.3.min.js"></script>
    <script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/plugins/confirm/confirm.js"></script>
    <script src="/static/plugins/jquery-validate/jquery.validate.min.js"></script>
    <script src="/static/plugins/jquery-validate/messages_zh.js"></script>
    <script src="/static/plugins/layer/laydate/laydate.js"></script>
    <script src="/static/plugins/layer/layer.js"></script>
    <script src="/static/plugins/jquery/jquery.metisMenu.js"></script>
    <script src="/static/plugins/md5/md5.js"></script>
    <script src="/static/plugins/jquery-ui-1.12.1/jquery-ui.js"></script>

    <script th:if="${table}" src="/static/plugins/datatables/datatables.all.min.js"></script>

    <script th:if="${chart}" src="/static/plugins/echarts/echarts.min.js"></script>
    <script th:if="${chart}" src="/static/scripts/chart.js"></script>
    <script th:if="${chart}" src="/static/scripts/common/dataTool.js"></script>

    <script th:if="${select2}" src="/static/plugins/select2/select2.full.min.js"></script>

    <script src="/static/scripts/common/custom-scripts.js"></script>
    <script src="/static/scripts/common/basePath.js"></script>
    <script src="/static/scripts/common/logout.js"></script>
    <script src="/static/scripts/common/common.js"></script>

</div>