<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/release/faculty/common/header :: commonHeader('消息中心',true, false)"></head>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description"
          content="Free angular bootstrap admin dashboard template. World first blur panel dashboard.">
    <meta name="keywords" content="admin,dashboard,template,angular,bootstrap,blur,panel,html,css,javascript">
    <title>Blur Admin</title>

    <link rel="stylesheet" href="./Blur Admin_files/vendor-2cae343ef1.css">
    <link rel="stylesheet" href="./Blur Admin_files/app-bce21c2366.css">

</head>
<body data-gr-c-s-loaded="true" class="blur-theme">
<div id="wrapper">
    <!--/. NAV TOP  -->
    <div th:include="/release/common/navtop :: navtop" class="sidebar-collapse"></div>

    <!-- /. NAV SIDE  -->
    <div th:include="/release/common/navbar :: nav" class="sidebar-collapse"></div>

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                消息中心
                <small>先锋消息通知</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="">主页</a></li>
                <li class="active">消息中心</li>
            </ol>
            <div class="al-main">
                <div class="al-content">
                    <content-top>
                        <div class="content-top clearfix"><h1 class="al-title ng-binding">Mail</h1>
                            <ul class="breadcrumb al-breadcrumb">
                                <li><a href="http://akveo.com/blur-admin/#/dashboard">Home</a></li>
                                <li class="ng-binding">Mail</li>
                            </ul>
                        </div>
                    </content-top>
                    <!-- uiView: -->
                    <div ui-view="" autoscroll="true" autoscroll-body-top="" class="ng-scope" style=""><!-- uiView: -->
                        <ui-view autoscroll="true" autoscroll-body-top="" class="ng-scope">
                            <div class="row mail-client-container transparent ng-scope">
                                <div class="col-md-12">
                                    <div ba-panel="" ba-panel-class="xmedium-panel mail-panel">
                                        <div class="panel panel-blur xmedium-panel mail-panel animated zoomIn" zoom-in=""
                                             ba-panel-blur=""
                                             style="background-size: 1552px 873px; background-position: -53px 0px;">
                                            <div class="panel-body" ng-transclude="">
                                                <div class="letter-layout ng-scope">
                                                    <div class="mail-navigation-container"
                                                         ng-class="{&#39;expanded&#39; : !tabCtrl.navigationCollapsed}">
                                                        <div class="text-center">
                                                            <button type="button" class="btn btn-default compose-button"
                                                                    ng-click="tabCtrl.showCompose(&#39;&#39;,&#39;&#39;,&#39;&#39;)">
                                                                Compose
                                                            </button>
                                                        </div><!-- ngRepeat: t in tabCtrl.tabs -->
                                                        <div ng-repeat="t in tabCtrl.tabs" ui-sref-active="active"
                                                             class="mail-navigation ng-binding ng-scope active"
                                                             ui-sref="components.mail.label({label: t.label})"
                                                             ng-click="selectTab(t.label)" href="#/components/mail/inbox">
                                                            Inbox<span class="new-mails ng-binding"
                                                                       ng-show="t.newMails">7</span></div>
                                                        <!-- end ngRepeat: t in tabCtrl.tabs -->
                                                        <div ng-repeat="t in tabCtrl.tabs" ui-sref-active="active"
                                                             class="mail-navigation ng-binding ng-scope"
                                                             ui-sref="components.mail.label({label: t.label})"
                                                             ng-click="selectTab(t.label)" href="#/components/mail/sent">Sent
                                                            Mail<span class="new-mails ng-binding ng-hide"
                                                                      ng-show="t.newMails"></span></div>
                                                        <!-- end ngRepeat: t in tabCtrl.tabs -->
                                                        <div ng-repeat="t in tabCtrl.tabs" ui-sref-active="active"
                                                             class="mail-navigation ng-binding ng-scope"
                                                             ui-sref="components.mail.label({label: t.label})"
                                                             ng-click="selectTab(t.label)" href="#/components/mail/important">
                                                            Important<span class="new-mails ng-binding ng-hide"
                                                                           ng-show="t.newMails"></span></div>
                                                        <!-- end ngRepeat: t in tabCtrl.tabs -->
                                                        <div ng-repeat="t in tabCtrl.tabs" ui-sref-active="active"
                                                             class="mail-navigation ng-binding ng-scope"
                                                             ui-sref="components.mail.label({label: t.label})"
                                                             ng-click="selectTab(t.label)" href="#/components/mail/draft">
                                                            Draft<span class="new-mails ng-binding"
                                                                       ng-show="t.newMails">2</span></div>
                                                        <!-- end ngRepeat: t in tabCtrl.tabs -->
                                                        <div ng-repeat="t in tabCtrl.tabs" ui-sref-active="active"
                                                             class="mail-navigation ng-binding ng-scope"
                                                             ui-sref="components.mail.label({label: t.label})"
                                                             ng-click="selectTab(t.label)" href="#/components/mail/spam">
                                                            Spam<span class="new-mails ng-binding ng-hide"
                                                                      ng-show="t.newMails"></span></div>
                                                        <!-- end ngRepeat: t in tabCtrl.tabs -->
                                                        <div ng-repeat="t in tabCtrl.tabs" ui-sref-active="active"
                                                             class="mail-navigation ng-binding ng-scope"
                                                             ui-sref="components.mail.label({label: t.label})"
                                                             ng-click="selectTab(t.label)" href="#/components/mail/trash">
                                                            Trash<span class="new-mails ng-binding ng-hide"
                                                                       ng-show="t.newMails"></span></div>
                                                        <!-- end ngRepeat: t in tabCtrl.tabs -->
                                                        <div class="labels">
                                                            <div class="labels-title"></div>
                                                            <div class="labels-container">
                                                                <div class="label-item"><span class="tag label work">Work</span>
                                                                </div>
                                                                <div class="label-item"><span
                                                                        class="tag label family">Family</span></div>
                                                                <div class="label-item"><span
                                                                        class="tag label friend">Friend</span></div>
                                                                <div class="label-item"><span
                                                                        class="tag label study">Study</span></div>
                                                            </div>
                                                        </div>
                                                        <div class="add-label-container"><i class="ion-plus-round"></i><span
                                                                class="label-input-stub">Add new label</span></div>
                                                    </div><!-- uiView: -->
                                                    <ui-view class="ng-scope">
                                                        <div class="side-message-navigation ng-scope expanded"
                                                             ng-class="{&#39;expanded&#39;: tabCtrl.navigationCollapsed}">
                                                            <div class="mail-messages-control side-message-navigation-item">
                                                                <div class="toggle-navigation-container"><a
                                                                        href="http://akveo.com/blur-admin/"
                                                                        class="collapse-navigation-link ion-navicon"
                                                                        ng-click="tabCtrl.navigationCollapsed=!tabCtrl.navigationCollapsed"></a>
                                                                </div>
                                                                <label class="checkbox-inline custom-checkbox nowrap"><input
                                                                        type="checkbox" id="inlineCheckbox01" value="option1">
                                                                    <span class="select-all-label">Select All</span></label>
                                                                <button type="button" class="btn btn-icon refresh-button"><i
                                                                        class="ion-refresh"></i></button>
                                                                <div class="btn-group dropdown" uib-dropdown="">
                                                                    <button type="button"
                                                                            class="btn more-button dropdown-toggle"
                                                                            uib-dropdown-toggle="" aria-haspopup="true"
                                                                            aria-expanded="false">More <span
                                                                            class="caret"></span></button>
                                                                    <ul uib-dropdown-menu="" class="dropdown-menu">
                                                                        <li><a href="http://akveo.com/blur-admin/">Action</a>
                                                                        </li>
                                                                        <li><a href="http://akveo.com/blur-admin/">Another
                                                                            action</a></li>
                                                                        <li><a href="http://akveo.com/blur-admin/">Something
                                                                            else here</a></li>
                                                                        <li role="separator" class="divider"></li>
                                                                        <li><a href="http://akveo.com/blur-admin/">Separated
                                                                            link</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="messages">
                                                                <table>
                                                                    <tbody>
                                                                    <!-- ngRepeat: m in listCtrl.messages track by m.id | orderBy:'-date' -->
                                                                    <tr ng-repeat="m in listCtrl.messages track by m.id | orderBy:&#39;-date&#39;"
                                                                        class="side-message-navigation-item little-human shineHover family">
                                                                        <td class="check-td">
                                                                            <div class="mail-checkbox"><label
                                                                                    class="checkbox-inline custom-checkbox nowrap"><input
                                                                                    type="checkbox"> <span></span></label></div>
                                                                        </td>
                                                                        <td class="photo-td"
                                                                            ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/2334uudsa"><img
                                                                                ng-src="assets/img/app/profile/Kostya.png"
                                                                                class="little-human-picture"
                                                                                src="./Blur Admin_files/Kostya.png"></td>
                                                                        <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/2334uudsa">
                                                                            <div class="name-container">
                                                                                <div><span class="name ng-binding">Kostya Danovsky</span>
                                                                                </div>
                                                                                <div><span
                                                                                        class="tag label label-primary family">family</span>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/2334uudsa">
                                                                            <div class="additional-info"><span
                                                                                    class="subject ng-binding">Street Art</span>
                                                                            </div>
                                                                        </td>
                                                                        <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/2334uudsa">
                                                                            <div class="mail-body-part ng-binding">Hey John,
                                                                                Aliquam eu facilisis eros, quis varius
                                                                                est.Consectetur adipiscing elit. Aliquam sodales
                                                                                sem in nibh pellentesque, ac dignissim mi
                                                                                dapibus.Lorem ipsum dolor sit amet! Nullam
                                                                                imperdiet justo a ipsum laoreet euismod.Cras
                                                                                tincidunt fermentum lectus, quis scelerisque
                                                                                lorem volutpat sed.Sed quis orci sed nisl
                                                                                sagittis viverra id at mauris. Nam venenatis mi
                                                                                nibh. Sed fringilla mattis vehic
                                                                            </div>
                                                                        </td>
                                                                        <td class="date"><span
                                                                                class="ng-binding">Nov 22 10:05</span></td>
                                                                    </tr>
                                                                    <!-- end ngRepeat: m in listCtrl.messages track by m.id | orderBy:'-date' -->
                                                                    <tr ng-repeat="m in listCtrl.messages track by m.id | orderBy:&#39;-date&#39;"
                                                                        class="side-message-navigation-item little-human shineHover study">
                                                                        <td class="check-td">
                                                                            <div class="mail-checkbox"><label
                                                                                    class="checkbox-inline custom-checkbox nowrap"><input
                                                                                    type="checkbox"> <span></span></label></div>
                                                                        </td>
                                                                        <td class="photo-td"
                                                                            ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/4563fdfvd"><img
                                                                                ng-src="assets/img/app/profile/Nasta.png"
                                                                                class="little-human-picture"
                                                                                src="./Blur Admin_files/Nasta.png"></td>
                                                                        <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/4563fdfvd">
                                                                            <div class="name-container">
                                                                                <div><span
                                                                                        class="name ng-binding">Nasta Linnie</span>
                                                                                </div>
                                                                                <div><span
                                                                                        class="tag label label-primary study">study</span>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/4563fdfvd">
                                                                            <div class="additional-info"><span
                                                                                    class="subject ng-binding">Lores ipsum</span>
                                                                            </div>
                                                                        </td>
                                                                        <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/4563fdfvd">
                                                                            <div class="mail-body-part ng-binding">Hey John,
                                                                                Lorem ipsum dolor sit amet, consectetur
                                                                                adipiscing elit. Mauris ex mauris, ultrices vel
                                                                                lectus quis, scelerisque hendrerit ipsum.
                                                                                Suspendisse ullamcorper turpis neque, eget
                                                                                dapibus magna placerat ac. Suspendisse rhoncus
                                                                                ligula ac mi tempus varius ut sed lacus. Sed et
                                                                                commodo nulla, et placerat leo. Nam rhoncus
                                                                                vulputate sem non pharetra. Praesent fringilla
                                                                                massa in laoreet convallis. Aliquam lobortis dui
                                                                                a congue facilisis. Aenean dapibus semper
                                                                                semper. Quisque aliquam, nibh dapibus interdum
                                                                                condimentum, ex velit tempor tortor, at
                                                                                vestibulum magna leo quis leo. Morbi pulvinar
                                                                                varius erat ac rutrum. Vestibulum ante ipsum
                                                                                primis in faucibus orci luctus et ultrices
                                                                                posuere cubilia Curae; In hac habitasse platea
                                                                                dictumst.Cras rhoncus quam ipsum, vel dignissim
                                                                                nisl egestas sed. Aliquam erat volutpat. Integer
                                                                                eu nisl elit. Donec malesuada diam vitae tellus
                                                                                luctus tincidunt. Donec tempus blandit neque,
                                                                                rutrum egestas ipsum sagittis tempor. Curabitur
                                                                                volutpat ligula enim, nec vehicula purus
                                                                                molestie at. Sed a facilisis enim, nec molestie
                                                                                magna. Donec in augue non est viverra dapibus
                                                                                vel tempus risus. Nam porttitor purus sit amet
                                                                                hendrerit ullamcorper. Class aptent taciti
                                                                                sociosqu ad litora torquent per conubia nostra,
                                                                                per inceptos himenaeos.
                                                                            </div>
                                                                        </td>
                                                                        <td class="date"><span
                                                                                class="ng-binding">Nov 19 03:30</span></td>
                                                                    </tr>
                                                                    <!-- end ngRepeat: m in listCtrl.messages track by m.id | orderBy:'-date' -->
                                                                    <tr ng-repeat="m in listCtrl.messages track by m.id | orderBy:&#39;-date&#39;"
                                                                        class="side-message-navigation-item little-human shineHover work">
                                                                        <td class="check-td">
                                                                            <div class="mail-checkbox"><label
                                                                                    class="checkbox-inline custom-checkbox nowrap"><input
                                                                                    type="checkbox"> <span></span></label></div>
                                                                        </td>
                                                                        <td class="photo-td"
                                                                            ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/8955asewf"><img
                                                                                ng-src="assets/img/app/profile/Nick.png"
                                                                                class="little-human-picture"
                                                                                src="./Blur Admin_files/Nick.png"></td>
                                                                        <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/8955asewf">
                                                                            <div class="name-container">
                                                                                <div><span
                                                                                        class="name ng-binding">Nick Cat</span>
                                                                                </div>
                                                                                <div><span class="tag label label-primary work">work</span>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/8955asewf">
                                                                            <div class="additional-info"><span
                                                                                    class="subject ng-binding">Some news</span>
                                                                            </div>
                                                                        </td>
                                                                        <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/8955asewf">
                                                                            <div class="mail-body-part ng-binding">Hey John,
                                                                                Integer eu nisl elit. Donec malesuada diam vitae
                                                                                tellus luctus tincidunt. Donec tempus blandit
                                                                                neque, rutrum egestas ipsum sagittis tempor.
                                                                                Curabitur volutpat ligula enim, nec vehicula
                                                                                purus molestie at. Sed a facilisis enim, nec
                                                                                molestie magna. Donec in augue non est viverra
                                                                                dapibus vel tempus risus. Nam porttitor purus
                                                                                sit amet hendrerit ullamcorper. Class aptent
                                                                                taciti sociosqu ad litora torquent per conubia
                                                                                nostra, per inceptos himenaeos.
                                                                            </div>
                                                                        </td>
                                                                        <td class="date"><span
                                                                                class="ng-binding">Sep 23 03:04</span></td>
                                                                    </tr>
                                                                    <!-- end ngRepeat: m in listCtrl.messages track by m.id | orderBy:'-date' -->
                                                                    <tr ng-repeat="m in listCtrl.messages track by m.id | orderBy:&#39;-date&#39;"
                                                                        class="side-message-navigation-item little-human shineHover friend">
                                                                        <td class="check-td">
                                                                            <div class="mail-checkbox"><label
                                                                                    class="checkbox-inline custom-checkbox nowrap"><input
                                                                                    type="checkbox"> <span></span></label></div>
                                                                        </td>
                                                                        <td class="photo-td"
                                                                            ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/4563faass"><img
                                                                                ng-src="assets/img/app/profile/Nasta.png"
                                                                                class="little-human-picture"
                                                                                src="./Blur Admin_files/Nasta.png"></td>
                                                                        <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/4563faass">
                                                                            <div class="name-container">
                                                                                <div><span
                                                                                        class="name ng-binding">Nasta Linnie</span>
                                                                                </div>
                                                                                <div><span
                                                                                        class="tag label label-primary friend">friend</span>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/4563faass">
                                                                            <div class="additional-info"><span
                                                                                    class="subject ng-binding">Great text</span>
                                                                            </div>
                                                                        </td>
                                                                        <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/4563faass">
                                                                            <div class="mail-body-part ng-binding">Hey John,
                                                                                Check out this cool text.
                                                                            </div>
                                                                        </td>
                                                                        <td class="date"><span
                                                                                class="ng-binding">Aug 28 07:57</span></td>
                                                                    </tr>
                                                                    <!-- end ngRepeat: m in listCtrl.messages track by m.id | orderBy:'-date' -->
                                                                    <tr ng-repeat="m in listCtrl.messages track by m.id | orderBy:&#39;-date&#39;"
                                                                        class="side-message-navigation-item little-human shineHover study">
                                                                        <td class="check-td">
                                                                            <div class="mail-checkbox"><label
                                                                                    class="checkbox-inline custom-checkbox nowrap"><input
                                                                                    type="checkbox"> <span></span></label></div>
                                                                        </td>
                                                                        <td class="photo-td"
                                                                            ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/8955sdfcc"><img
                                                                                ng-src="assets/img/app/profile/Nick.png"
                                                                                class="little-human-picture"
                                                                                src="./Blur Admin_files/Nick.png"></td>
                                                                        <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/8955sdfcc">
                                                                            <div class="name-container">
                                                                                <div><span
                                                                                        class="name ng-binding">Nick Cat</span>
                                                                                </div>
                                                                                <div><span
                                                                                        class="tag label label-primary study">study</span>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/8955sdfcc">
                                                                            <div class="additional-info"><span
                                                                                    class="subject ng-binding">Gift card</span>
                                                                            </div>
                                                                        </td>
                                                                        <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/8955sdfcc">
                                                                            <div class="mail-body-part ng-binding">Hey John,
                                                                                Consectetur adipiscing elit, Lorem ipsum dolor
                                                                                sit amet
                                                                            </div>
                                                                        </td>
                                                                        <td class="date"><span
                                                                                class="ng-binding">Jul 18 10:19</span></td>
                                                                    </tr>
                                                                    <!-- end ngRepeat: m in listCtrl.messages track by m.id | orderBy:'-date' -->
                                                                    <tr ng-repeat="m in listCtrl.messages track by m.id | orderBy:&#39;-date&#39;"
                                                                        class="side-message-navigation-item little-human shineHover family">
                                                                        <td class="check-td">
                                                                            <div class="mail-checkbox"><label
                                                                                    class="checkbox-inline custom-checkbox nowrap"><input
                                                                                    type="checkbox"> <span></span></label></div>
                                                                        </td>
                                                                        <td class="photo-td"
                                                                            ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/2334aefvv"><img
                                                                                ng-src="assets/img/app/profile/Kostya.png"
                                                                                class="little-human-picture"
                                                                                src="./Blur Admin_files/Kostya.png"></td>
                                                                        <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/2334aefvv">
                                                                            <div class="name-container">
                                                                                <div><span class="name ng-binding">Kostya Danovsky</span>
                                                                                </div>
                                                                                <div><span
                                                                                        class="tag label label-primary family">family</span>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/2334aefvv">
                                                                            <div class="additional-info"><span
                                                                                    class="subject ng-binding">New product</span>
                                                                            </div>
                                                                        </td>
                                                                        <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/2334aefvv">
                                                                            <div class="mail-body-part ng-binding">Hello John,
                                                                                Lorem ipsum dolor sit amet!Consectetur
                                                                                adipiscing elit. Aliquam sodales sem in nibh
                                                                                pellentesque, ac dignissim mi dapibus.Aliquam eu
                                                                                facilisis eros, quis varius est. Nullam
                                                                                imperdiet justo a ipsum laoreet euismod.Nulla
                                                                                facilisi. Nulla congue, arcu eget blandit
                                                                                lacinia, leo ante ullamcorper lectus, vel
                                                                                pulvinar justo ipsum vitae justo.Cras tincidunt
                                                                                fermentum lectus, quis scelerisque lorem
                                                                                volutpat sed. Sed quis orci sed nisl sagittis
                                                                                viverra id at mauris. Nam venenatis mi nibh. Sed
                                                                                fringilla mattis vehic
                                                                            </div>
                                                                        </td>
                                                                        <td class="date"><span
                                                                                class="ng-binding">Jun 22 06:26</span></td>
                                                                    </tr>
                                                                    <!-- end ngRepeat: m in listCtrl.messages track by m.id | orderBy:'-date' -->
                                                                    <tr ng-repeat="m in listCtrl.messages track by m.id | orderBy:&#39;-date&#39;"
                                                                        class="side-message-navigation-item little-human shineHover work">
                                                                        <td class="check-td">
                                                                            <div class="mail-checkbox"><label
                                                                                    class="checkbox-inline custom-checkbox nowrap"><input
                                                                                    type="checkbox"> <span></span></label></div>
                                                                        </td>
                                                                        <td class="photo-td"
                                                                            ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/8955sddf"><img
                                                                                ng-src="assets/img/app/profile/Nick.png"
                                                                                class="little-human-picture"
                                                                                src="./Blur Admin_files/Nick.png"></td>
                                                                        <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/8955sddf">
                                                                            <div class="name-container">
                                                                                <div><span
                                                                                        class="name ng-binding">Nick Cat</span>
                                                                                </div>
                                                                                <div><span class="tag label label-primary work">work</span>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/8955sddf">
                                                                            <div class="additional-info"><span
                                                                                    class="subject ng-binding">New Design</span>
                                                                            </div>
                                                                        </td>
                                                                        <td ui-sref="components.mail.detail({id: m.id, label: listCtrl.label})"
                                                                            href="#/components/mail/inbox/8955sddf">
                                                                            <div class="mail-body-part ng-binding">Hey John,
                                                                                Consectetur adipiscing elitCras rhoncus quam
                                                                                ipsum, vel dignissim nisl egestas sed. Aliquam
                                                                                erat volutpat. Integer eu nisl elit. Donec
                                                                                malesuada diam vitae tellus luctus tincidunt.
                                                                                Donec tempus blandit neque, rutrum egestas ipsum
                                                                                sagittis tempor. Curabitur volutpat ligula enim,
                                                                                nec vehicula purus molestie at. Sed a facilisis
                                                                                enim, nec molestie magna. Donec in augue non est
                                                                                viverra dapibus vel tempus risus. Nam porttitor
                                                                                purus sit amet hendrerit ullamcorper. Class
                                                                                aptent taciti sociosqu ad litora torquent per
                                                                                conubia nostra, per inceptos himenaeos.
                                                                            </div>
                                                                        </td>
                                                                        <td class="date"><span
                                                                                class="ng-binding">May 5 12:59</span></td>
                                                                    </tr>
                                                                    <!-- end ngRepeat: m in listCtrl.messages track by m.id | orderBy:'-date' -->
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </ui-view>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ui-view>
                    </div>
                </div>
            </div>
        </div>
        <div id="page-inner">
            <div id=footerPlaceholder">
                <div th:include="/release/faculty/common/footer :: copy" id="copyright"></div>
            </div>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>


<div th:include="/release/faculty/common/js :: load_js(true , false, false)"></div>
</body>
</html>