<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/release/web/common/header :: commonHeader('消息中心',false, true)"></head>
<head>
    <link rel="stylesheet" href="/static/plugins/blur-admin/vendor-2cae343ef1.css">
    <link rel="stylesheet" href="/static/plugins/blur-admin/app-bce21c2366.css">
</head>
<body data-gr-c-s-loaded="true" class="blur-theme">
<div id="wrapper">
    <!--/. NAV TOP  -->
    <div th:include="/release/web/common/navtop :: navtop" class="sidebar-collapse"></div>

    <!-- /. NAV SIDE  -->
    <div th:include="/release/web/common/navbar :: nav" class="sidebar-collapse"></div>

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                消息中心
                <small>先锋消息通知</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="">主页</a></li>
                <li class="active">消息中心</li>
            </ol>

        </div>
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default xmedium-panel mail-panel animated zoomIn">
                        <div class="panel-body">
                            <div class="letter-layout ng-scope">
                                <div class="mail-navigation-container">
                                    <div class="text-center">
                                        <button id="write" type="button" class="btn btn-default compose-button">
                                            写信息
                                        </button>
                                    </div><!-- ngRepeat: t in tabCtrl.tabs -->
                                    <div id="inbox" class="mail-navigation active">
                                       收件箱 <span id="inboxCount" class="new-mails">0</span>
                                    </div>
                                    <!--收件箱<span class="new-mails ng-binding">7</span></div>-->
                                    <div id="sent" class="mail-navigation">
                                        已发送
                                    </div>
                                    <div id="important" class="mail-navigation">
                                        重要信息 <span id="importantCount" class="new-mails">0</span>
                                    </div>
                                    <div id="draft" class="mail-navigation">
                                        草稿箱 <span id="draftCount" class="new-mails">0</span>
                                    </div>
                                    <div id="trash" class="mail-navigation">
                                        垃圾箱 <span id="trashCount" class="new-mails">0</span>
                                    </div>
                                    <div class="labels">
                                        <div class="labels-title"></div>
                                        <div class="labels-container">
                                            <div class="label-item">
                                                <span class="tag label friend">紧急</span>
                                            </div>
                                            <div class="label-item">
                                                <span class="tag label work">重要</span>
                                            </div>
                                            <div class="label-item">
                                                <span class="tag label family">一般</span>
                                            </div>
                                            <div class="label-item">
                                                <span class="tag label study">完结</span>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- uiView: -->
                                <ui-view id="table" class="ng-scope">
                                    <div class="side-message-navigation ng-scope expanded">
                                        <div class="mail-messages-control side-message-navigation-item">
                                            <div class="toggle-navigation-container">
                                                <a class="collapse-navigation-link ion-navicon"></a>
                                            </div>
                                            <label class="checkbox-inline custom-checkbox nowrap">
                                                <input type="checkbox" id="inlineCheckbox01" value="option1">
                                                <span class="select-all-label">全选</span>
                                            </label>
                                            <button type="button" class="btn btn-icon refresh-button">
                                                <i class="fa fa-refresh"></i>
                                            </button>
                                        </div>
                                        <table class="table table-striped table-bordered table-hover" id="messageTable" style="width: 100%;"></table>
                                    </div>
                                </ui-view>
                                <ui-view id="detail" class="ng-scope">
                                    <div class="message-container expanded">
                                        <div class="message">
                                            <div class="row">
                                                <div class="toggle-navigation-container detail-page">
                                                    <a class="collapse-navigation-link ion-navicon"></a>
                                                </div>
                                                <button id="back" type="button" class="back-button btn btn-default btn-with-icon">
                                                    <i class="fa fa-arrow-left"></i>返回
                                                </button>
                                            </div>
                                            <div class="person-info row">
                                                <div id="senderInfo" class="col-lg-4 col-md-12 no-padding">
                                                </div>
                                                <div id="contactInfo" class="col-lg-4 col-md-6 col-xs-12 no-padding">
                                                </div>
                                                <div id="roleInfo" class="col-lg-4 col-md-6 col-xs-12 no-padding">
                                                </div>
                                            </div>
                                            <div class="row"></div>
                                            <div class="line"></div>

                                            <div id="subject" class="message-details"></div>
                                            <div class="line"></div>

                                            <div id="body" class="message-body ng-binding"></div>
                                            <div class="line"></div>

                                            <!--<div id="attachment" class="attachment">
                                                 <span class="file-links">1 Attachment -
                                                     <a href="http://akveo.com/blur-admin/">查看</a> |
                                                     <a href="http://akveo.com/blur-admin/">下载</a></span>
                                                <div>
                                                    <i class="file-icon ion-document"></i>
                                                    <span class="file-name ng-binding">file.doc</span>
                                                </div>
                                            </div>-->
                                            <div class="line" ng-show="detailCtrl.mail.attachment"></div>
                                            <div class="answer-container">
                                                <button type="button" class="btn btn-with-icon">
                                                    <i class="fa fa-mail-reply"></i>回复
                                                </button>
                                                <button type="button" class="btn btn-with-icon">
                                                    <i class="fa fa-mail-forward"></i>转发
                                                </button>
                                                <button type="button" class="btn btn-with-icon"><i
                                                        class="fa fa-print"></i>打印
                                                </button>
                                                <button type="button" class="btn btn-with-icon"><i
                                                        class="fa fa-trash"></i>删除
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </ui-view>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id=footerPlaceholder">
                <div th:include="/release/web/common/footer :: copy" id="copyright"></div>
            </div>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE INNER  -->
    <div id="writeMail" class="modal-dialog modal-compose">
        <div class="modal-content" uib-modal-transclude="">
            <div class="compose-header ng-scope"><span>写新信息</span>
                <span class="header-controls">
                    <i class="ion-minus-round"></i>
                    <i class="ion-arrow-resize"></i>
                    <i class="ion-close-round"></i>
                </span>
            </div>
            <div class="ng-scope">
                <select style="width: 100%" id="searchUser" class="js-example-basic-multiple form-control compose-input" name="states[]"  multiple="multiple">
                </select>
                <input id="subject" class="form-control compose-input" placeholder="主题">
                <div class="compose-container">
                   <textarea id="body" class=" form-control" style="height: 300px; background-color: white;"></textarea>
                   <input type="hidden" tabindex="-1" style="display: none;" name="htmlcontent" value="">
                </div>
            </div>
            <div class="compose-footer clearfix ng-scope">
                <button style="width: 30%" id="send" type="button" class="btn btn-send">发送</button>
                <button style="width: 30%" id="save" type="button" class="btn btn-send">保存为草稿</button>
                <button style="width: 30%" id="quit" type="button" class="btn btn-send">取消</button>
            </div>
        </div>
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!--load_js(table,chart,select2)-->
<div th:include="/release/faculty/common/js :: load_js(true , false, true)"></div>
<script src="/static/scripts/message/messageCenter.js"></script>
<script src="/static/scripts/message/sendMessage.js"></script>
</body>
</html>