<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/release/common/header :: commonHeader('个人信息',false,false)"></head>
<body>
<div id="wrapper">

    <!--/. NAV TOP  -->
    <div th:include="/release/common/navtop :: navtop" class="sidebar-collapse"></div>

    <!-- /. NAV SIDE  -->
    <div th:include="/release/common/navbar :: nav" class="sidebar-collapse"></div>

        <div id="page-wrapper">
            <div class="header">
                <h1 class="page-header">
                    个人信息
                    <small id="name" th:text="'欢迎回来'+${session.user.lastname}+', '+${session.user.firstname}"></small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active"><a href="/index">主页</a></li>
                </ol>
            </div>
		</div>
        <div id="page-inner">
            <div class="row">
                <div id = footerPlaceholder">
                    <div th:include="/release/common/footer :: copy" id="copyright"></div>
                </div>
            </div>
        </div>
    </div>
</body>

<div th:include="/release/common/js :: load_js(false,false,false)"></div>
<script src="/static/scripts/admin/welcome.js"></script>
</html>
